body{
	background-image: none;
	background: #381d51;
}
#RP_wrapper{
	width: 600px;
	margin: 30px auto;
}
#RP_wrapper .Box{
	border-radius: 12px;
	background-color: #FFF;
	padding: 12px;
	margin: 12px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #381d51;
}