/* rgba(101,82,160,.10); */
html, body { width: 100%; height: 100%; margin: 0; padding: 0; }

body { background: url(img/bg/1.jpg) center top no-repeat; background-color: #FFF; background-attachment: fixed; background-size: cover; font-family: "Pathway Gothic One", sans-serif; font-size: 16px; }

html body.vex-open { /* Per bug con IE che nasconde la scrollbar */ overflow: auto; }

.Viola { color: #381d51; }

.vex-dialog-button-primary { background-color: #ee3127 !important; }

a { text-decoration: none; color: #ed251b; transition: .35s linear all; }

a:hover { text-decoration: none; color: #af1c15; }

#MenuMobile { margin-left: 0px; background: url(img/bg_menu.png) repeat-x; position: relative; }

#MenuMobile .btn-navbar { display: inline-block; margin: 10px; width: 25px; height: 25px; }

#MenuMobile .btn-navbar > span { display: block; width: 100%; margin: 3px 0; height: 2px; background-color: #CCC; }

#MenuMobileList { width: 100%; position: absolute; z-index: 1000; background-color: #ccc; display: none; margin: 0; padding: 0; }
#MenuMobileList > li { list-style: none; list-style-position: inside; padding: 0; margin: 0; display: block; }
#MenuMobileList > li.fired.fired > a { color: #FFF; background-color: #454545; }
#MenuMobileList > li > a { display: block; font-size: 20px; color: #454545; padding: 10px 10px; border-bottom: 1px solid #999; width: 100%; text-transform: uppercase; }
#MenuMobileList > li > a:hover { background-color: #FFF; }
#MenuMobileList > li:last-child > a { border-bottom: none; }

#LogoMobile { margin: 5px 0 5px 15px; }

.Scheda h1 { margin-top: 0; }

h1.nmb { padding-bottom: 0; margin-bottom: 0; }

h3 { margin: 0; }

.bgWhite { background: #fff; }

.relative { position: relative; }

.TitleFont { font-family: "Pathway Gothic One", sans-serif; }

.Title2 { font-size: 24px; }

* { outline: 0 none !important; }

.uppercase { text-transform: uppercase; }

.lowercase { text-transform: lowercase; }

.left { text-align: left; }

.right { text-align: right; }

.center { text-align: center; }

.justify { text-align: justify; }

.b { font-weight: bold; }

.font09 { font-size: .9em; }

.font08 { font-size: .8em; }

.font07 { font-size: .7em; }

.font11 { font-size: 1.1em; }

.font12 { font-size: 1.2em; }

.font13 { font-size: 1.3em; }

.font14 { font-size: 1.4em; }

.font15 { font-size: 1.5em; }

#Site { top: 0; left: 0; position: absolute; min-height: 100%; width: 100%; }
#Site .bgPage { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 1; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
#Site .bgPage > a { display: block; height: 100%; }

#Wrapper { top: 0; padding-top: 38px; background-color: #eeeeee; position: relative; z-index: 2; /*background: red;*/ }
@media (max-width: 767px) { #Wrapper { padding-top: 20px; } }

#socialBigBar { height: 200px; background: url(img/tmp/social.png) center center no-repeat #eeeeee; }

a.Button, .Button, .ButtonViola { text-align: center; border-radius: 6px; border: 1px solid #6e0a05; text-decoration: none; color: #FFF; text-transform: uppercase; padding: 6px 22px; transition: none; }

.Button.Gray { background: #ccc !important; border: 1px solid #aaa; }

.Button { background: #ee2e24; /* Old browsers */ background: -moz-linear-gradient(top, #ee2e24 0%, #8d0700 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee2e24), color-stop(100%, #8d0700)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ee2e24 0%, #8d0700 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ee2e24 0%, #8d0700 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ee2e24 0%, #8d0700 100%); /* IE10+ */ background: linear-gradient(to bottom, #ee2e24 0%, #8d0700 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee2e24', endColorstr='#8d0700',GradientType=0 ); /* IE6-9 */ }

.Button.Big, .ButtonViola.Big { font-size: 22px; padding: 2px 22px !important; }

.Button.Large, .ButtonViola.Large { padding: 6px 40px; }

.Button:hover, .button2:hover, .button3:hover { background: #8d0700; text-decoration: none; color: #fff; }

.ButtonViola { background-color: #4b3478; }

.ButtonViola:hover { background-color: #6b4aad; color: #FFF; text-decoration: none; }

.button2, .button3 { margin: 1px; border: 1px solid #6e0a05; display: block; text-align: center; text-decoration: none; color: #fff; background: #ee2e24; /* Old browsers */ background: -moz-linear-gradient(top, #ee2e24 0%, #8d0700 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee2e24), color-stop(100%, #8d0700)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ee2e24 0%, #8d0700 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ee2e24 0%, #8d0700 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ee2e24 0%, #8d0700 100%); /* IE10+ */ background: linear-gradient(to bottom, #ee2e24 0%, #8d0700 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee2e24', endColorstr='#8d0700',GradientType=0 ); /* IE6-9 */ transition: none; }

.button3 { text-transform: uppercase; padding: 10px; }

.button4 { color: #FFF; text-align: center; text-transform: uppercase; padding: 4px 0; text-align: center; display: block; background: url(img/buttons/red_gradient.png) center bottom repeat-x #ee2e24; transition: none; }

.button4:hover { color: #FFF; text-decoration: none; background-image: none; background-color: #8d0700; }

.button4.Gray { background: url(img/buttons/gray_gradient.png) center bottom repeat-x #656565; }

.button4.Gold { background: url(img/buttons/gold_gradient.png) center bottom repeat-x #aa955f; }

.button4.Gold:hover { color: #FFF; text-decoration: none; background-image: none; background-color: #81682b; }

.slideshow { width: 100%; }

#NegoziMap { height: 400px; position: relative; }

#NegoziMap .shadow { position: absolute; top: 0; width: 100%; z-index: 200; height: 46px; background: url(img/box_shadow4.png) center top no-repeat; }

#NegoziMap .shadow_ext { position: absolute; bottom: -46px; z-index: 2000; height: 46px; width: 100%; background: url(img/box_shadow4.png) center top no-repeat; }

#NegoziMap #map { top: 0; left: 0; width: 100%; position: absolute; z-index: 1; height: 100%; }

.NegozioItem { display: block; min-height: 155px; max-height: 155px; border-bottom: 1px solid #cecece; margin-bottom: 15px; transition: 0.25s ease-in all; }

.NegozioItem:hover { background-color: #f4f4f4; }

.NegozioItem .nome { text-transform: uppercase; font-size: 24px; color: #381d51; }

.NegozioItem .indirizzo { display: block; color: #a4a4a4; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.NegozioScheda .foto .shadow { height: 20px; }

.NegozioScheda .Descr { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.NegozioScheda .foto .shadow > img { margin: 0 auto; }

.NegozioScheda_BoxAddress a { color: #424242; text-decoration: none; }

.NegozioScheda_BoxAddress a:hover { text-decoration: underline; }

.NegozioScheda_BoxPonderazione { background-color: #f5f5f5; padding: 50px 0; text-align: center; font-size: 20px; }

.NegozioScheda_BoxPonderazione h3 { margin: 0; padding: 0; font-size: 30px; }

#premiInteressarti .bx-wrapper, .slideshow .bx-wrapper, #boxCardExample .bx-wrapper, #FotoNegozi .bx-wrapper { margin-bottom: 0; }

#premiInteressarti .bx-viewport, .slideshow .bx-viewport, #boxCardExample .bx-viewport, #FotoNegozi .bx-viewport { background: none; border: none; margin-left: 5px; box-shadow: none; }

#premiInteressarti .bx-viewport, #FotoNegozi .bx-viewport { margin-left: 18px; }

#premiInteressarti .bx-prev, #premiInteressarti .bx-next, #FotoNegozi .bx-prev, #FotoNegozi .bx-next { width: 64px; height: 64px; top: 120px !important; background: url(img/arrows_red.png) no-repeat; }

#premiInteressarti .bx-prev, #FotoNegozi .bx-prev { left: -20px; background-position: left top; }

#premiInteressarti .bx-next, #FotoNegozi .bx-next { right: -20px; background-position: right top; }

.slideshow .bx-pager { bottom: 0px; }

.TitleRed, .Red, .Weighting { color: #e41a12; }

.Gray { color: #8e8e8e; }

.Oro { color: #ae9862; }

.TitleRed, .Title { font-family: "Pathway Gothic One", sans-serif; text-transform: uppercase; }

.Box2, .Box3 { background: url(img/box_shadow2.png) center top no-repeat #eeeeee; padding: 16px 0; }

.Box3bg { background: url(img/box_shadow3.png) center bottom no-repeat; padding-bottom: 32px; }

#barTop { z-index: 3; position: absolute; width: 100%; height: 38px; background: url(img/bg_bar_top.png) repeat-x; }
@media (max-width: 767px) { #barTop { height: 20px; } }

#menuSites > ul { margin: 0; padding: 0; }
#menuSites > ul > li { background: url(img/bartop-btn-shadow.png) left center no-repeat; padding: 0 10px; text-transform: uppercase; display: inline-block; height: 38px; line-height: 38px; font-size: 16px; }
#menuSites > ul > li:first-child { background-image: none; padding-left: 0; }
@media (max-width: 767px) { #menuSites > ul > li { height: 20px; line-height: 20px; } }
#menuSites > ul > li > a { color: #737373; display: block; transition: 0.25s ease-in all; }
#menuSites > ul > li > a:hover { text-decoration: none; color: #5a4d6b; }
#menuSites > ul > li i { overflow: hidden; display: inline-block; height: 22px; width: 22px; margin-right: 5px; background: url(img/bartop-icons.png) no-repeat; vertical-align: text-top; }

#menuSites > ul > li.violachannel > a > i { background-position: 0 0; transition: 0.25s ease-in all; }

#menuSites > ul > li.violachannel > a:hover > i { background-position: 0 -22px; }

#menuSites > ul > li.store > a > i { background-position: -22px 0; transition: 0.25s ease-in all; }

#menuSites > ul > li.store > a:hover > i { background-position: -22px -22px; }

#menuSites > ul > li.inviola { background-color: #5a4d6b; color: white; padding: 0 20px 0 10px; }

#menuSites > ul > li.inviola i { background-position: -44px 0px; }

#menuAreaRiservata { position: absolute; right: 0px; }
@media (max-width: 767px) { #menuAreaRiservata { top: -4px; } }
#menuAreaRiservata > ul { margin: 0; padding: 0; }
#menuAreaRiservata > ul > li { position: relative; display: inline-block; margin-left: 0px; height: 38px; line-height: 38px; text-transform: uppercase; font-size: 22px; font-weight: 200; }
#menuAreaRiservata > ul > li > a { display: block; background: url(img/bg_oro.png) center bottom #bead5e repeat-x; padding: 0 12px; color: #685627; text-shadow: 0 1px #d3cbb3; transition: 0.25s ease-in all; }
#menuAreaRiservata > ul > li > a:hover { text-decoration: none; box-shadow: 0 0 15px rgba(0, 0, 0, 0.25) inset; }
@media (max-width: 767px) { #menuAreaRiservata > ul > li { height: 20px; line-height: 20px; font-size: 10px; font-weight: normal; } }

#menuLoginOverlay { position: absolute; z-index: 1; width: 100%; height: 100%; left: 0; top: 0; background: none; display: none; }

#menuAreaRiservata .submenu { position: absolute; z-index: 10001; display: none; }
@media (max-width: 767px) { #menuAreaRiservata .submenu, #menuAreaRiservata .submenu label { font-size: 12px; } }

#menuAreaRiservata > ul > li:hover > .submenu, #menuAreaRiservata > ul > li > .submenu.active { display: block !important; }

#menuAreaRiservata > ul > li.login .submenu { box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75); right: 0; background: url(img/bg_oro_noise.jpg); }

#menuAreaRiservata > ul > li > a > i { display: inline-block; vertical-align: top; height: 20px; width: 20px; vertical-align: middle; }

#menuAreaRiservata > ul > li.registrati > a > i { background: url(img/icons/lock.png) center center no-repeat; }

#menuAreaRiservata > ul > li.login > a > i { background: url(img/icons/user.png) center center no-repeat; }

#menuAreaRiservata > ul > li.logout > a > i { background: url(img/icons/logout.png) center center no-repeat; }

#Menu { margin-left: 0px; width: 100%; height: 100px; background: url(img/bg_menu.png) repeat-x; position: relative; }

#Menu .hasSubmenu { position: relative; }

#Menu .hasSubmenu:hover .submenu { display: block; }

#Menu .submenu { position: absolute; min-width: 100%; z-index: 1000; display: none; background: url(img/bg_gray_noise.jpg) repeat; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75); }

#Menu .submenu > ul { margin: 0; padding: 0; display: block; }

#Menu .submenu > ul > li { display: block; margin: 0; padding: 0; list-style: none; }

#Menu .submenu > ul > li > a { display: block; padding: 8px; font-size: 20px; color: #343434; text-shadow: 0 1px #fff; text-transform: uppercase; transition: 0.25s ease-in all; }

#Menu .submenu > ul > li > a:hover { text-decoration: none; color: #000; text-shadow: none; }

#Logo { position: absolute; top: 25px; }

#Menu > ul { margin: 0; padding: 0; display: block; }

#Menu > ul > li { display: inline-block; margin: 0; padding: 0; list-style: none; border-left: 1px solid #6b5583; }

#Menu > ul > li > a { color: #FFF; text-transform: uppercase; font-size: 18px; display: block; text-align: center; line-height: 100px; height: 100px; transition: 0.25s ease-in all; }

#Menu > ul > li > a:hover { text-decoration: none; text-shadow: 0 0 35px rgba(255, 255, 255, 0.5); background-color: #e41a12; }

h1, h2 { text-transform: uppercase; margin: 1em 0; color: #333333; font-size: 34px; font-family: "Pathway Gothic One", sans-serif; }

h2 { margin: 0; padding: 0; }

#Footer { position: relative; z-index: 2; background-color: #1b0a2e; padding: 0 0 16px 0; }
#Footer .Info { color: white; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10px; font-weight: 400; }
@media (max-width: 767px) { #Footer .Info { padding: 0 8px; font-weight: normal; font-size: 8px; } }

.colFooter { font-size: 24px; padding-left: 40px; text-transform: uppercase; color: #d2b3ff; border-right: 1px solid #4a4559; }
@media (max-width: 767px) { .colFooter { padding-left: 20px; font-size: 12px; } }
.colFooter a { display: block; color: #d2b3ff; transition: 0.25s ease-in all; }
.colFooter a:hover { color: #f2e9ff; text-decoration: none; }
.colFooter > h4 { color: white; font-size: 30px; }
@media (max-width: 767px) { .colFooter > h4 { font-size: 12px; } }
.colFooter ul { margin: 0; padding: 0; }
.colFooter ul > li { list-style: none; padding: 0; margin: 0; }

.colFooter_last { border-right: none; }

#loginForm { color: #FFF; padding: 10px 20px; }

#loginForm .inputText { color: #333; width: 240px; height: auto; padding: 0; padding: 0 4px; }

#loginForm label { text-transform: uppercase; font-size: 22px; font-weight: 100; }

#loginForm a { color: #fff; transition: 0.25s ease-in all; }

#loginForm a:hover { text-decoration: underline; }

#loginForm .bottom { font-size: 14px; }

#loginForm .bottom > a { vertical-align: middle; }

.fbCoverItem { text-align: center; }

.fbCoverItem .shadow > img { margin: 0 auto; }

.redBtn, .miniBtn { display: inline-block; color: #FFF; text-transform: uppercase; vertical-align: middle; border: 1px solid #6e0a05; transition: 0.25s ease-in all; background: #f60d0d; background: -moz-linear-gradient(top, #f60d0d 0%, #980505 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #f60d0d), color-stop(100%, #980505)); background: -webkit-linear-gradient(top, #f60d0d 0%, #980505 100%); background: -o-linear-gradient(top, #f60d0d 0%, #980505 100%); background: -ms-linear-gradient(top, #f60d0d 0%, #980505 100%); background: linear-gradient(to bottom, #f60d0d 0%, #980505 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f60d0d', endColorstr='#980505', GradientType=0 ); }

.redBtn:hover, .miniBtn:hover { text-decoration: none !important; background: #d00909; background: -moz-linear-gradient(top, #d00909 0%, #990505 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #d00909), color-stop(100%, #990505)); background: -webkit-linear-gradient(top, #d00909 0%, #990505 100%); background: -o-linear-gradient(top, #d00909 0%, #990505 100%); background: -ms-linear-gradient(top, #d00909 0%, #990505 100%); background: linear-gradient(to bottom, #d00909 0%, #990505 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d00909', endColorstr='#990505', GradientType=0 ); }

.miniBtn { font-size: 16px; height: 23px; line-height: 23px; border-radius: 4px; padding: 0 12px; }

#loginLoader { vertical-align: middle; }

.itemPremio { margin: 15px; }

.itemPremio .Foto { position: relative; }

.itemPremio .Foto .bollinoPunti { top: 30px; left: 10px; text-align: center; color: #FFF; position: absolute; background: url(img/bollino.png) no-repeat; width: 78px; height: 80px; line-height: 1; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 20px 5px 0 0; overflow: hidden; font-size: 14px; text-transform: uppercase; }

.itemPremio .Foto .bollinoPunti > b { font-size: 16px; }

.premioBig { position: relative; height: 280px; }

.premioBig .infoPunti { position: absolute; width: 100%; bottom: 0; }

.premioBig .infoPunti .wishlist_bar { text-align: right; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; color: #000; }

.premioBig .infoPunti .wishlist_bar > a { color: #000; }

.premioBig .infoPunti .wishlist_bar > a:hover { text-decoration: underline; }

.premioBig .descr { font-size: 18px; color: #8b8b8b; }

.premioBig .Punti { display: inline-block; color: #FFF; background: #ae9862; padding: 6px 26px; /*border-radius: 10px;
box-shadow: 0 1px 1px rgba(0,0,0,.5) inset;*/ }

.premioBig .Punti, .Button.ButtonPunti { display: inline-block; font-size: 22px; }

.Button.ButtonPunti { padding: 6px 13px; }

.premioBig .infoPunti .PuntiMancanti { text-transform: uppercase; font-size: 15px; color: #5e5e5e; }

.premioBig .BarPunti { height: 25px; width: 100%; background: #FFF; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55) inset; }

.premioBig .BarPunti > div { height: 100%; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55) inset; background-color: #381d51; }

.Button.ButtonPunti:hover { color: #FFF; text-decoration: none; }

.block { display: block; }

.hr { display: block; clear: both; margin: 10px 0; border-top: 1px solid #d6d6d6; border-bottom: 1px solid #f7f7f7; }

.itemPremio .Cont { background: #fff; }

.itemPremio .Shadow { background: url(img/box_shadow1.png) center top no-repeat; width: 100%; height: 15px; }

.itemPremio .Titolo { display: table; width: 100%; font-weight: bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1; height: 5em; overflow: hidden; text-transform: uppercase; color: #381d51; padding: 8px 0 4px 0; }

.itemPremio .Titolo > div { padding: 0 8px; display: table-cell; vertical-align: middle; border-bottom: 1px solid #ccc; }

.itemPremio .Foto { background-color: #fff; }

.premioImgBig > img { border: 1px solid #bdbdbd; }

.premioImgBig .Shadow { background: url(img/shadow_premio_img.png) center top no-repeat; height: 15px; }

.bread1 { display: block; padding: 20px 0 0 0; }

.bannerFooter { margin: 0 15px; padding: 15px 0; text-align: center; border-bottom: 1px solid #2d0e48; }

.bannerFooterItem { text-align: center; margin: 0 16px; display: inline-block; }
@media (max-width: 767px) { .bannerFooterItem > a { display: inline-block; width: 60px; vertical-align: middle; }
  .bannerFooterItem > a > img { width: 100%; } }

.pageStd { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/**** NEWS ******/
.itemNews .itemNewsCont { display: block; border: 1px solid #d8d8d8; transition: .35 ease all; }

.itemNews .itemNewsCont:hover { background-color: #eb321f; }

.itemNews .itemNewsCont .descr { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; height: 11em; overflow: hidden; font-size: 16px; padding: 8px; }

.itemNews .shadow { height: 13px; }

.itemNewsCont > a { background: red; color: #333; text-decoration: none; }

.itemNewsCont:hover > a { color: #FFF; }

.itemNewsCont > a > i { display: block; margin: 8px; height: 24px; background: url(img/virgolette.png) left top no-repeat; }

.itemNewsCont:hover > a > i { background: url(img/virgolette_hover.png) left top no-repeat; }

.itemNewsCont .bottom { background: url(img/news-icon.png) right bottom no-repeat; padding-left: 8px; font-size: 14px; height: 44px; line-height: 44px; }

#NewsContNext { text-align: center; padding: 10px 0; }

/**** FINE NEWS ******/
/**** AREA RISERVATA ******/
.infoLaMiaCard { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; color: #7d7d7d; }

.infoLaMiaCard h4 { font-size: 20px; font-weight: bold; }

.infoLaMiaCard img { float: left; vertical-align: top; margin-right: 10px; }

.tableCard { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.tableCard th { background-color: #f7f7f7; }

.profiloTable_left { width: 35%; background-color: #f7f7f7; }

.modSi { display: none; }

#saveLoader { margin-right: 10px; }

.TitleGray { color: #a4a4a4; font-size: 28px; text-transform: uppercase; }

.fotoPremio { margin-bottom: 10px; }

.fotoPremio .foto { border: 8px solid #eee; background-color: #fff; text-align: center; }

.fotoPremio .shadow { text-align: center; height: 14px; }

.premioBarInfo { width: 100%; height: 100px; position: absolute; top: 64px; }

.premioBarInfo .punti { display: inline-block; float: right; background-color: #ae9862; color: #FFF; font-size: 26px; padding: 4px 16px; }

.btnRichiestaPremio { position: absolute; bottom: 0; right: 0; }

.barPunti { position: absolute; bottom: 0; width: 100%; height: 44px; line-height: 44px; background-color: #afafb1; color: #FFF; }

.barPunti > span { color: #FFF; display: block; text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; top: 0; width: 100%; height: 44px; line-height: 44px; z-index: 10; text-transform: uppercase; position: absolute; }

.barPuntiCont { background-color: #351d53; height: 44px; }

/**** FINE AREA RISERVATA ******/
/**** REGISTRATI ******/
.boxRegistrati { margin: 0 0 20px 0; box-shadow: 0 0 55px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 0 55px rgba(0, 0, 0, 0.25); background: #FFF; }

.boxRegistrati .tab { background-color: #6550a2; color: #FFF; display: block; font-size: 30px; text-transform: uppercase; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.65) inset; -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.65) inset; }
@media (max-width: 767px) { .boxRegistrati .tab { font-size: 14px; } }

.boxRegistrati .tab .arrow { margin-left: 12px; vertical-align: middle; }

.boxRegistrati .tab.fired { background-color: #FFF; color: #381d51; box-shadow: none; -webkit-box-shadow: none; }

.boxRegistrati .tab, .boxRegistratiCont { padding: 8px 26px; }

#boxCardExample { padding: 0 8px; border: 2px solid #d7d7d7; }

.boxRegistrati #loaderLogin, .boxRegistrati #loaderPw { vertical-align: middle; margin-left: 10px; }

#inserisciPassword { display: none; }

#inserisciPassword .dimenticato_pw { font-size: 16px; color: #606060; }

#inserisciPassword .dimenticato_pw > a { color: #606060; text-decoration: underline; }

#inserisciPassword .dimenticato_pw > a:hover { text-decoration: none; }

.boxRegistrati h3 { margin: 0; padding: 0; font-size: 20px; }
@media (max-width: 767px) { .boxRegistrati h3 { font-size: 14px; } }

#avatarInput { position: absolute; top: 32px; left: 250px; opacity: 0; /*cursor: pointer;*/ }

#avatarCont { position: relative; display: inline-block; }

#avatarCont > a { visibility: hidden; }

#avatarCont:hover > a { visibility: visible; }

/**** FINE REGISTRATI ******/
/******* HOME **********/
.boxHome { position: relative; padding: 0 16px; }
.boxHome h3 { color: #3a3a3a; text-transform: uppercase; font-size: 30px; font-weight: normal; text-shadow: 0 1px 0 #FFF; }
@media (max-width: 767px) { .boxHome h3 { font-size: 14px; } }
.boxHome .box { background-color: #FFF; height: 240px; overflow: hidden; }
@media (max-width: 767px) { .boxHome .box { height: 170px; } }
@media (max-width: 767px) { .boxHome { padding: 0 4px; margin-bottom: 8px; } }

#boxNews ul, #boxVideo ul { margin: 3px; padding: 0; position: relative; }

#boxNews ul > li, #boxVideo ul > li { list-style: none; margin: 0; padding: 6px; overflow: hidden; border-bottom: 1px solid #e5e5e5; }

#boxNews ul > li > a, #boxVideo ul > li > a { display: block; color: #353535; min-height: 53px; max-height: 53px; text-decoration: none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; padding-right: 10px; background: url(img/arrow_blue.png) right center no-repeat; transition: 0.25s ease-in all; }
@media (max-width: 767px) { #boxNews ul > li > a, #boxVideo ul > li > a { font-size: 9px; } }

#boxNews ul > li > a:hover, #boxVideo ul > li > a:hover { color: #ae9862; }

#boxNews ul > li.allNews, #boxVideo ul > li.allNews { background-color: #e6e6e6; }

#boxNews ul > li.allNews > a, #boxVideo ul > li.allNews > a { background-color: #e6e6e6; min-height: 24px; max-height: 24px; line-height: 24px; display: block; color: #462a9b; background: url(img/arrow_gray.png) right center no-repeat; transition: 0.25s ease-in all; }
@media (max-width: 767px) { #boxNews ul > li.allNews > a, #boxVideo ul > li.allNews > a { font-size: 8px; min-height: inherit; max-height: none; line-height: normal; } }

#boxNews ul > li.allNews > a:hover, #boxVideo ul > li.allNews > a:hover { color: #e41a12; }

.widgetTextBox .box { padding-top: 40px; }

#boxPoll .box { padding-top: 20px; }

.widgetTextBox .box, #boxPoll .box { text-align: center; color: #462a9b; text-transform: uppercase; line-height: 1; font-size: 30px; }
@media (max-width: 767px) { .widgetTextBox .box, #boxPoll .box { font-size: 14px; } }

.boxHome .Button { position: absolute; width: 74%; left: 13%; bottom: 30px; z-index: 10; padding: 6px 10px !important; margin: 0 auto; font-size: 20px; }
@media (max-width: 767px) { .boxHome .Button { font-size: 12px; bottom: 8px; } }

#bigSocial { margin: 30px 0 20px 0; }

#bigSocial a { margin: 0 auto; display: inline-block; vertical-align: middle; }

#bigSocial a > img { margin: 0 20px; transition: 0.25s ease-in all; }

#bigSocial a:hover > img { opacity: .5; }

#boxSlideFotoUtenti .bx-wrapper { margin-bottom: 0; }
#boxSlideFotoUtenti .bx-viewport { background: none; border: none; margin-left: 5px; box-shadow: none; }
#boxSlideFotoUtenti .slide .slideItem { height: 200px; }

/******* FINE HOME **********/
/******* INVIACI FOTO *********/
#uploadFotoBtn { position: absolute; /*display:none;*/ top: 0px; left: 0; width: 200px; height: 40px; opacity: 0; cursor: pointer; }

.fotoUtentiItem { position: relative; }
.fotoUtentiItem .foto { height: 120px; overflow: hidden; }
.fotoUtentiItem > .badge { position: absolute; display: block; border-radius: 30px; width: 30px; height: 30px; line-height: 26px; text-align: center; background-color: #e41a12; color: #FFF; font-size: 14px; top: -10px; right: -10px; opacity: .9; }

#UserGallery .bx-wrapper { margin-bottom: 0; }

#UserGallery .bx-viewport { background: none; border: none; margin-left: 5px; box-shadow: none; }

#UserGallery .bx-viewport { margin-left: 18px; }

#UserGallery .bx-prev, #UserGallery .bx-next { width: 67px; height: 93px; }

#UserGallery .bx-prev { background: url(img/users_gallery/freccia_sx.png) no-repeat; }

#UserGallery .bx-prev:hover { background: url(img/users_gallery/freccia_sx_rossa.png) no-repeat; }

#UserGallery .bx-next { background: url(img/users_gallery/freccia_dx.png) no-repeat; }

#UserGallery .bx-next:hover { background: url(img/users_gallery/freccia_dx_rossa.png) no-repeat; }

#UserGalleryCont { text-align: center; }

#UserGallery .shadow > img { margin: 0 auto; }

/******* FINE INVIACI FOTO *********/
/********** VIDEO PREMIUM **********/
.VideoPremium .video > div { margin: 0 auto; }

.itemVideoPremium .itemVideoPremiumCont { display: block; border: 1px solid #d8d8d8; transition: .35 ease all; }

.VideoPremium .VideoPremiumCont:hover { background-color: #eb321f; }

.itemVideoPremium .itemVideoPremiumCont .descr { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; height: 11em; overflow: hidden; font-size: 16px; padding: 8px; }

.itemVideoPremium .shadow { height: 13px; }

.itemVideoPremiumCont > a { background: red; color: #333; text-decoration: none; }

.itemVideoPremiumCont:hover > a > i { background: url(img/virgolette_hover.png) left top no-repeat; }

.itemVideoPremiumCont .bottom { background: url(img/video-icon.png) right bottom no-repeat; padding-left: 8px; font-size: 14px; height: 44px; line-height: 44px; }

/********** FINE VIDEO PREMIUM **********/
#passwordChange { margin: 10px; padding: 6px; border-radius: 6px; background-color: #f7f7f7; border: 1px solid #ddd; display: none; }

#passwordForm label { font-weight: normal; }

.VideoMediaCenter { position: relative; min-height: 432px; }
.VideoMediaCenter .VideoAds-image { position: absolute; display: none; top: 351px; left: 89px; width: 766px; height: 80px; background-color: #FFF; z-index: 100; overflow: hidden; }
.VideoMediaCenter .VideoAds-image .VideoAds_close { position: absolute; z-index: 101; top: 0; right: 2px; }
.VideoMediaCenter .VideoAds-image img { width: 100%; }
.VideoMediaCenter .VideoAds-preroll { position: absolute; background-color: #000; top: 0; left: 89px; width: 766px; height: 432px; overflow: hidden; }
.VideoMediaCenter .VideoAds-preroll > a { position: absolute; display: block; width: 100%; height: 100%; top: 0; left: 0; z-index: 101; }
.VideoMediaCenter .VideoAds-preroll .AdBar { position: absolute; background-color: rgba(0, 0, 0, 0.7); width: 100%; z-index: 102; bottom: 0; left: 0; font-size: 12px; color: #FFF; padding: 6px; }
.VideoMediaCenter .VideoAds-preroll .AdBar > a { float: right; color: #FFF; text-decoration: underline; display: none; }

#BarUserAlert { position: relative; margin-top: 38px; margin-bottom: -38px; z-index: 5; background-color: #efe1bf; color: #333; }
@media (max-width: 767px) { #BarUserAlert { margin-top: 20px; marbin-bottom: -20px; } }
#BarUserAlert .container { position: relative; }
#BarUserAlert .close { position: absolute; right: 20px; top: 8px; display: inline-block; font-size: 13px; color: #333; text-decoration: none; }
#BarUserAlert .Alert { margin: 0; display: block; padding: 16px 8px; font-size: 1.1em; font-weight: normal; }
#BarUserAlert .Alert a { text-decoration: underline; }
#BarUserAlert .Alert > li { list-style-position: inside; list-style-type: none; }

.abuse { font-size: .9em; }
.abuse > a { text-decoration: underline; color: #333; }
.abuse > a:hover { text-decoration: none; }

#CookiesPolicyAlert { position: fixed; bottom: 0; left: 0; width: 100%; background: rgba(0, 0, 0, 0.8); padding: 16px 8px; color: white; font-size: 16px; z-index: 10; }
#CookiesPolicyAlert a { color: #FFF; text-decoration: underline; }
#CookiesPolicyAlert a:hover { text-decoration: none; }
#CookiesPolicyAlert a.choice { text-decoration: none; background-color: #aaaaaa; color: #000; border-radius: 6px; padding: 3px 16px; font-size: .9em; transition: .25s linear all; }
#CookiesPolicyAlert a.choice:hover { background-color: #FFF; }
#CookiesPolicyAlert > .Close { float: right; vertical-align: middle; margin-right: 10px; color: #FFF; opacity: .65; text-decoration: none; transition: .35s all linear; }
#CookiesPolicyAlert > .Close:hover { opacity: 1; }

.IF_ora, .IF_Title > span { display: inline-block; color: #FFF; border-radius: 20px; background-color: #ae9862; }

.IF_ora { font-size: 16px; margin: 5px 0 0 20px; vertical-align: text-top; padding: 6px 12px; }

.IF_Title { display: block; text-align: center; }
.IF_Title > span { margin: 0 auto; font-size: 20px; text-align: center; text-transform: uppercase; padding: 6px 20px; }

#IndovinaFormazione .MainBanner, .IndovinaFormazione_match .MainBanner { position: absolute; top: 28px; left: 50%; margin-left: -213px; width: 425px; height: 178px; display: block; z-index: 10; }
#IndovinaFormazione .MainBanner > img, .IndovinaFormazione_match .MainBanner > img { width: 100%; height: 100%; }
@media (min-width: 980px) and (max-width: 1199px) { #IndovinaFormazione .MainBanner, .IndovinaFormazione_match .MainBanner { /* medium */ width: 340px; height: 144px; top: 21px; margin-left: -170px; } }
@media (max-width: 979px) { #IndovinaFormazione .MainBanner, .IndovinaFormazione_match .MainBanner { width: 100%; height: 144px; } }
#IndovinaFormazione .Campo, .IndovinaFormazione_match .Campo { display: block; position: relative; background: url(img/indovina-formazione/campo.jpg) center top no-repeat; background-size: contain; height: 1006px; }
@media (max-width: 1199px) { #IndovinaFormazione .Campo, .IndovinaFormazione_match .Campo { /* medium */ height: 804px; } }
#IndovinaFormazione #boxPlayersOverlay, .IndovinaFormazione_match #boxPlayersOverlay { position: absolute; display: none; background-color: rgba(0, 0, 0, 0); top: 0; left: 15px; width: 97.5%; height: 100%; z-index: 100; }
#IndovinaFormazione .boxOverlay, .IndovinaFormazione_match .boxOverlay { position: absolute; background-color: rgba(0, 0, 0, 0); font-size: 24px; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; color: #FFF; }
#IndovinaFormazione .boxOverlay > span, .IndovinaFormazione_match .boxOverlay > span { display: block; text-align: center; margin-top: 240px; }
#IndovinaFormazione #boxPlayers, .IndovinaFormazione_match #boxPlayers { z-index: 101; position: absolute; display: none; max-height: 600px; left: 50%; padding: 20px; width: 800px; margin-left: -420px; z-index: 100; background: url(img/indovina-formazione/box_players_bg.png) repeat; border-radius: 10px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0); color: #FFF; border: 2px solid rgba(255, 255, 255, 0); }
#IndovinaFormazione #boxPlayers .PlayerBtn, .IndovinaFormazione_match #boxPlayers .PlayerBtn { margin-bottom: 10px; text-align: center; height: 180px; overflow: hidden; text-transform: uppercase; position: relative; }
#IndovinaFormazione #boxPlayers .PlayerBtn img, #IndovinaFormazione #boxPlayers .PlayerBtn span, .IndovinaFormazione_match #boxPlayers .PlayerBtn img, .IndovinaFormazione_match #boxPlayers .PlayerBtn span { max-width: 160px; }
#IndovinaFormazione #boxPlayers .PlayerBtn img, .IndovinaFormazione_match #boxPlayers .PlayerBtn img { display: block; }
#IndovinaFormazione #boxPlayers .PlayerBtn span, .IndovinaFormazione_match #boxPlayers .PlayerBtn span { position: absolute; bottom: 0; width: 100%; text-align: center; display: block; color: #FFF; transition: .25s ease-in all; }
#IndovinaFormazione #boxPlayers .PlayerBtn:hover span, .IndovinaFormazione_match #boxPlayers .PlayerBtn:hover span { color: #ae9862; }
#IndovinaFormazione #ScegliFormazione, .IndovinaFormazione_match #ScegliFormazione { position: absolute; width: 234px; height: 251px; background: url(img/indovina-formazione/box_formazione.png) no-repeat; top: 33px; left: 42px; color: #FFFFFF; /*font-family: $fontStd;*/ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; }
@media (max-width: 1199px) { #IndovinaFormazione #ScegliFormazione, .IndovinaFormazione_match #ScegliFormazione { /* medium */ top: 18px; left: 15px; } }
#IndovinaFormazione #ScegliFormazione .pad, .IndovinaFormazione_match #ScegliFormazione .pad { padding: 15px; }
#IndovinaFormazione #ScegliFormazione .hr, .IndovinaFormazione_match #ScegliFormazione .hr { display: block; height: 2px; margin: 0; border: none; padding: 0; background: url(img/indovina-formazione/divider.png) center center repeat; }
#IndovinaFormazione #ScegliFormazione .formazione_panel, .IndovinaFormazione_match #ScegliFormazione .formazione_panel { width: 100%; position: relative; }
#IndovinaFormazione #ScegliFormazione .formazione_panel .formazione_btn_left, #IndovinaFormazione #ScegliFormazione .formazione_panel .formazione_btn_right, .IndovinaFormazione_match #ScegliFormazione .formazione_panel .formazione_btn_left, .IndovinaFormazione_match #ScegliFormazione .formazione_panel .formazione_btn_right { position: absolute; top: 12px; width: 35px; height: 35px; background: url(img/indovina-formazione/arrows_formazione.png) no-repeat; transition: none; }
#IndovinaFormazione #ScegliFormazione .formazione_panel .formazione_btn_left, .IndovinaFormazione_match #ScegliFormazione .formazione_panel .formazione_btn_left { background-position: top left; left: 0; }
#IndovinaFormazione #ScegliFormazione .formazione_panel .formazione_btn_left:hover, .IndovinaFormazione_match #ScegliFormazione .formazione_panel .formazione_btn_left:hover { background-position: bottom left; }
#IndovinaFormazione #ScegliFormazione .formazione_panel .formazione_btn_right, .IndovinaFormazione_match #ScegliFormazione .formazione_panel .formazione_btn_right { background-position: top right; right: 0; }
#IndovinaFormazione #ScegliFormazione .formazione_panel .formazione_btn_right:hover, .IndovinaFormazione_match #ScegliFormazione .formazione_panel .formazione_btn_right:hover { background-position: bottom right; }
#IndovinaFormazione #ScegliFormazione .formazione_panel .formazioni, .IndovinaFormazione_match #ScegliFormazione .formazione_panel .formazioni { position: relative; width: 135px; height: 50px; margin: 0 0 0 35px; padding: 0; overflow: hidden; }
#IndovinaFormazione #ScegliFormazione .formazione_panel .formazioni > ul, .IndovinaFormazione_match #ScegliFormazione .formazione_panel .formazioni > ul { position: absolute; padding: 0; margin: 0; width: 100000px; display: block; left: -135px; text-shadow: 0 1px 3px rgba(0, 0, 0, 0); font-size: 40px; }
#IndovinaFormazione #ScegliFormazione .formazione_panel .formazioni > ul > li, .IndovinaFormazione_match #ScegliFormazione .formazione_panel .formazioni > ul > li { text-align: center; width: 135px; list-style: none; display: inline-block; padding: 0; margin: 0; }
#IndovinaFormazione #ScegliFormazione .conferma, .IndovinaFormazione_match #ScegliFormazione .conferma { margin: 10px auto 0 auto; display: block; color: #FFF; text-transform: uppercase; border: none; background: url(img/indovina-formazione/btn_formazione.png) center top no-repeat; width: 202px; height: 40px; }
#IndovinaFormazione #ScegliFormazione .conferma:hover, .IndovinaFormazione_match #ScegliFormazione .conferma:hover { background-position: center bottom; }
#IndovinaFormazione #ScegliFormazione .annulla, .IndovinaFormazione_match #ScegliFormazione .annulla { position: absolute; right: 18px; bottom: 4px; text-transform: lowercase; color: white; font-size: 12px; }
#IndovinaFormazione #ScegliFormazione .annulla:hover, .IndovinaFormazione_match #ScegliFormazione .annulla:hover { text-decoration: underline; }
#IndovinaFormazione .Player, .IndovinaFormazione_match .Player { position: absolute; display: block; background: url(img/indovina-formazione/player_shadow.png) center bottom no-repeat; /*border: 1px solid red;*/ width: 185px; overflow: hidden; margin-left: -93px; text-align: center; }
#IndovinaFormazione .Player img, .IndovinaFormazione_match .Player img { display: block; margin: -10px auto 20px auto; max-width: 160px; }
@media (max-width: 1199px) { #IndovinaFormazione .Player img, .IndovinaFormazione_match .Player img { /* medium */ margin-top: -10px; } }
#IndovinaFormazione .Player span, .IndovinaFormazione_match .Player span { position: absolute; display: block; width: 80%; left: 10%; bottom: 0px; color: #FFF; text-transform: uppercase; font-size: 18px; text-align: center; background: url(img/indovina-formazione/btn_grad.png) center bottom repeat-x red; border: 3px solid white; padding: 5px 0px; border-radius: 22px; min-width: 80px; box-shadow: 0 0 8px rgba(0, 0, 0, 0) inset; transition: .15s all ease-in; }
@media (max-width: 1199px) { #IndovinaFormazione .Player span, .IndovinaFormazione_match .Player span { /* medium */ font-size: 16px; width: 70%; left: 15%; } }
#IndovinaFormazione .Player > a:hover, .IndovinaFormazione_match .Player > a:hover { cursor: default; }
#IndovinaFormazione .Player > a:hover.enable, .IndovinaFormazione_match .Player > a:hover.enable { cursor: pointer; }
#IndovinaFormazione .Player > a:hover.enable span, .IndovinaFormazione_match .Player > a:hover.enable span { background-image: none; background-color: #ff0000; border: 3px solid #ae9862; }
#IndovinaFormazione .Portiere, .IndovinaFormazione_match .Portiere { bottom: 20px; left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .Portiere, .IndovinaFormazione_match .Portiere { /* medium */ bottom: 15px; left: 455px; } }
#IndovinaFormazione .Portiere, .IndovinaFormazione_match .Portiere { z-index: 11; }
#IndovinaFormazione .g2, .IndovinaFormazione_match .g2 { z-index: 10; }
#IndovinaFormazione .g3, .IndovinaFormazione_match .g3 { z-index: 9; }
#IndovinaFormazione .g4, .IndovinaFormazione_match .g4 { z-index: 8; }
#IndovinaFormazione .g5, .IndovinaFormazione_match .g5 { z-index: 7; }
#IndovinaFormazione .g6, .IndovinaFormazione_match .g6 { z-index: 6; }
#IndovinaFormazione .g7, .IndovinaFormazione_match .g7 { z-index: 5; }
#IndovinaFormazione .g8, .IndovinaFormazione_match .g8 { z-index: 4; }
#IndovinaFormazione .g9, .IndovinaFormazione_match .g9 { z-index: 3; }
#IndovinaFormazione .g10, .IndovinaFormazione_match .g10 { z-index: 2; }
#IndovinaFormazione .g11, .IndovinaFormazione_match .g11 { z-index: 1; }
#IndovinaFormazione .f3-4-3, .IndovinaFormazione_match .f3-4-3 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
#IndovinaFormazione .f3-4-3 .g2, #IndovinaFormazione .f3-4-3 .g3, #IndovinaFormazione .f3-4-3 .g4, .IndovinaFormazione_match .f3-4-3 .g2, .IndovinaFormazione_match .f3-4-3 .g3, .IndovinaFormazione_match .f3-4-3 .g4 { bottom: 175px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g2, #IndovinaFormazione .f3-4-3 .g3, #IndovinaFormazione .f3-4-3 .g4, .IndovinaFormazione_match .f3-4-3 .g2, .IndovinaFormazione_match .f3-4-3 .g3, .IndovinaFormazione_match .f3-4-3 .g4 { /* medium */ bottom: 145px; } }
#IndovinaFormazione .f3-4-3 .g5, #IndovinaFormazione .f3-4-3 .g6, #IndovinaFormazione .f3-4-3 .g7, #IndovinaFormazione .f3-4-3 .g8, .IndovinaFormazione_match .f3-4-3 .g5, .IndovinaFormazione_match .f3-4-3 .g6, .IndovinaFormazione_match .f3-4-3 .g7, .IndovinaFormazione_match .f3-4-3 .g8 { bottom: 330px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g5, #IndovinaFormazione .f3-4-3 .g6, #IndovinaFormazione .f3-4-3 .g7, #IndovinaFormazione .f3-4-3 .g8, .IndovinaFormazione_match .f3-4-3 .g5, .IndovinaFormazione_match .f3-4-3 .g6, .IndovinaFormazione_match .f3-4-3 .g7, .IndovinaFormazione_match .f3-4-3 .g8 { /* medium */ bottom: 275px; } }
#IndovinaFormazione .f3-4-3 .g9, #IndovinaFormazione .f3-4-3 .g10, #IndovinaFormazione .f3-4-3 .g11, .IndovinaFormazione_match .f3-4-3 .g9, .IndovinaFormazione_match .f3-4-3 .g10, .IndovinaFormazione_match .f3-4-3 .g11 { bottom: 485px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g9, #IndovinaFormazione .f3-4-3 .g10, #IndovinaFormazione .f3-4-3 .g11, .IndovinaFormazione_match .f3-4-3 .g9, .IndovinaFormazione_match .f3-4-3 .g10, .IndovinaFormazione_match .f3-4-3 .g11 { /* medium */ bottom: 390px; } }
#IndovinaFormazione .f3-4-3 .g2, .IndovinaFormazione_match .f3-4-3 .g2 { left: 370px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g2, .IndovinaFormazione_match .f3-4-3 .g2 { /* medium */ left: 255px; } }
#IndovinaFormazione .f3-4-3 .g3, .IndovinaFormazione_match .f3-4-3 .g3 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g3, .IndovinaFormazione_match .f3-4-3 .g3 { /* medium */ left: 455px; } }
#IndovinaFormazione .f3-4-3 .g4, .IndovinaFormazione_match .f3-4-3 .g4 { left: 775px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g4, .IndovinaFormazione_match .f3-4-3 .g4 { /* medium */ left: 660px; } }
#IndovinaFormazione .f3-4-3 .g5, .IndovinaFormazione_match .f3-4-3 .g5 { left: 285px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g5, .IndovinaFormazione_match .f3-4-3 .g5 { /* medium */ left: 170px; } }
#IndovinaFormazione .f3-4-3 .g6, .IndovinaFormazione_match .f3-4-3 .g6 { left: 475px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g6, .IndovinaFormazione_match .f3-4-3 .g6 { /* medium */ left: 360px; } }
#IndovinaFormazione .f3-4-3 .g7, .IndovinaFormazione_match .f3-4-3 .g7 { left: 665px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g7, .IndovinaFormazione_match .f3-4-3 .g7 { /* medium */ left: 550px; } }
#IndovinaFormazione .f3-4-3 .g8, .IndovinaFormazione_match .f3-4-3 .g8 { left: 855px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g8, .IndovinaFormazione_match .f3-4-3 .g8 { /* medium */ left: 740px; } }
#IndovinaFormazione .f3-4-3 .g9, .IndovinaFormazione_match .f3-4-3 .g9 { left: 380px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g9, .IndovinaFormazione_match .f3-4-3 .g9 { /* medium */ left: 265px; } }
#IndovinaFormazione .f3-4-3 .g10, .IndovinaFormazione_match .f3-4-3 .g10 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g10, .IndovinaFormazione_match .f3-4-3 .g10 { /* medium */ left: 455px; } }
#IndovinaFormazione .f3-4-3 .g11, .IndovinaFormazione_match .f3-4-3 .g11 { left: 755px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-4-3 .g11, .IndovinaFormazione_match .f3-4-3 .g11 { /* medium */ left: 640px; } }
#IndovinaFormazione .f3-5-2, .IndovinaFormazione_match .f3-5-2 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
#IndovinaFormazione .f3-5-2 .g2, #IndovinaFormazione .f3-5-2 .g3, #IndovinaFormazione .f3-5-2 .g4, .IndovinaFormazione_match .f3-5-2 .g2, .IndovinaFormazione_match .f3-5-2 .g3, .IndovinaFormazione_match .f3-5-2 .g4 { bottom: 175px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g2, #IndovinaFormazione .f3-5-2 .g3, #IndovinaFormazione .f3-5-2 .g4, .IndovinaFormazione_match .f3-5-2 .g2, .IndovinaFormazione_match .f3-5-2 .g3, .IndovinaFormazione_match .f3-5-2 .g4 { /* medium */ bottom: 145px; } }
#IndovinaFormazione .f3-5-2 .g5, #IndovinaFormazione .f3-5-2 .g6, #IndovinaFormazione .f3-5-2 .g7, #IndovinaFormazione .f3-5-2 .g8, #IndovinaFormazione .f3-5-2 .g9, .IndovinaFormazione_match .f3-5-2 .g5, .IndovinaFormazione_match .f3-5-2 .g6, .IndovinaFormazione_match .f3-5-2 .g7, .IndovinaFormazione_match .f3-5-2 .g8, .IndovinaFormazione_match .f3-5-2 .g9 { bottom: 330px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g5, #IndovinaFormazione .f3-5-2 .g6, #IndovinaFormazione .f3-5-2 .g7, #IndovinaFormazione .f3-5-2 .g8, #IndovinaFormazione .f3-5-2 .g9, .IndovinaFormazione_match .f3-5-2 .g5, .IndovinaFormazione_match .f3-5-2 .g6, .IndovinaFormazione_match .f3-5-2 .g7, .IndovinaFormazione_match .f3-5-2 .g8, .IndovinaFormazione_match .f3-5-2 .g9 { /* medium */ bottom: 275px; } }
#IndovinaFormazione .f3-5-2 .g10, #IndovinaFormazione .f3-5-2 .g11, .IndovinaFormazione_match .f3-5-2 .g10, .IndovinaFormazione_match .f3-5-2 .g11 { bottom: 485px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g10, #IndovinaFormazione .f3-5-2 .g11, .IndovinaFormazione_match .f3-5-2 .g10, .IndovinaFormazione_match .f3-5-2 .g11 { /* medium */ bottom: 390px; } }
#IndovinaFormazione .f3-5-2 .g2, .IndovinaFormazione_match .f3-5-2 .g2 { left: 370px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g2, .IndovinaFormazione_match .f3-5-2 .g2 { /* medium */ left: 255px; } }
#IndovinaFormazione .f3-5-2 .g3, .IndovinaFormazione_match .f3-5-2 .g3 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g3, .IndovinaFormazione_match .f3-5-2 .g3 { /* medium */ left: 455px; } }
#IndovinaFormazione .f3-5-2 .g4, .IndovinaFormazione_match .f3-5-2 .g4 { left: 775px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g4, .IndovinaFormazione_match .f3-5-2 .g4 { /* medium */ left: 660px; } }
#IndovinaFormazione .f3-5-2 .g5, .IndovinaFormazione_match .f3-5-2 .g5 { left: 200px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g5, .IndovinaFormazione_match .f3-5-2 .g5 { /* medium */ left: 85px; } }
#IndovinaFormazione .f3-5-2 .g6, .IndovinaFormazione_match .f3-5-2 .g6 { left: 385px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g6, .IndovinaFormazione_match .f3-5-2 .g6 { /* medium */ left: 270px; } }
#IndovinaFormazione .f3-5-2 .g7, .IndovinaFormazione_match .f3-5-2 .g7 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g7, .IndovinaFormazione_match .f3-5-2 .g7 { /* medium */ left: 455px; } }
#IndovinaFormazione .f3-5-2 .g8, .IndovinaFormazione_match .f3-5-2 .g8 { left: 760px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g8, .IndovinaFormazione_match .f3-5-2 .g8 { /* medium */ left: 645px; } }
#IndovinaFormazione .f3-5-2 .g9, .IndovinaFormazione_match .f3-5-2 .g9 { left: 950px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g9, .IndovinaFormazione_match .f3-5-2 .g9 { /* medium */ left: 835px; } }
#IndovinaFormazione .f3-5-2 .g10, .IndovinaFormazione_match .f3-5-2 .g10 { left: 480px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g10, .IndovinaFormazione_match .f3-5-2 .g10 { /* medium */ left: 365px; } }
#IndovinaFormazione .f3-5-2 .g11, .IndovinaFormazione_match .f3-5-2 .g11 { left: 665px; }
@media (max-width: 1199px) { #IndovinaFormazione .f3-5-2 .g11, .IndovinaFormazione_match .f3-5-2 .g11 { /* medium */ left: 555px; } }
#IndovinaFormazione .f4-4-2, .IndovinaFormazione_match .f4-4-2 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
#IndovinaFormazione .f4-4-2 .g2, #IndovinaFormazione .f4-4-2 .g3, #IndovinaFormazione .f4-4-2 .g4, #IndovinaFormazione .f4-4-2 .g5, .IndovinaFormazione_match .f4-4-2 .g2, .IndovinaFormazione_match .f4-4-2 .g3, .IndovinaFormazione_match .f4-4-2 .g4, .IndovinaFormazione_match .f4-4-2 .g5 { bottom: 175px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g2, #IndovinaFormazione .f4-4-2 .g3, #IndovinaFormazione .f4-4-2 .g4, #IndovinaFormazione .f4-4-2 .g5, .IndovinaFormazione_match .f4-4-2 .g2, .IndovinaFormazione_match .f4-4-2 .g3, .IndovinaFormazione_match .f4-4-2 .g4, .IndovinaFormazione_match .f4-4-2 .g5 { /* medium */ bottom: 145px; } }
#IndovinaFormazione .f4-4-2 .g6, #IndovinaFormazione .f4-4-2 .g7, #IndovinaFormazione .f4-4-2 .g8, #IndovinaFormazione .f4-4-2 .g9, .IndovinaFormazione_match .f4-4-2 .g6, .IndovinaFormazione_match .f4-4-2 .g7, .IndovinaFormazione_match .f4-4-2 .g8, .IndovinaFormazione_match .f4-4-2 .g9 { bottom: 330px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g6, #IndovinaFormazione .f4-4-2 .g7, #IndovinaFormazione .f4-4-2 .g8, #IndovinaFormazione .f4-4-2 .g9, .IndovinaFormazione_match .f4-4-2 .g6, .IndovinaFormazione_match .f4-4-2 .g7, .IndovinaFormazione_match .f4-4-2 .g8, .IndovinaFormazione_match .f4-4-2 .g9 { /* medium */ bottom: 275px; } }
#IndovinaFormazione .f4-4-2 .g10, #IndovinaFormazione .f4-4-2 .g11, .IndovinaFormazione_match .f4-4-2 .g10, .IndovinaFormazione_match .f4-4-2 .g11 { bottom: 485px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g10, #IndovinaFormazione .f4-4-2 .g11, .IndovinaFormazione_match .f4-4-2 .g10, .IndovinaFormazione_match .f4-4-2 .g11 { /* medium */ bottom: 390px; } }
#IndovinaFormazione .f4-4-2 .g2, .IndovinaFormazione_match .f4-4-2 .g2 { left: 228px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g2, .IndovinaFormazione_match .f4-4-2 .g2 { /* medium */ left: 182px; } }
#IndovinaFormazione .f4-4-2 .g3, .IndovinaFormazione_match .f4-4-2 .g3 { left: 456px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g3, .IndovinaFormazione_match .f4-4-2 .g3 { /* medium */ left: 364px; } }
#IndovinaFormazione .f4-4-2 .g4, .IndovinaFormazione_match .f4-4-2 .g4 { left: 684px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g4, .IndovinaFormazione_match .f4-4-2 .g4 { /* medium */ left: 546px; } }
#IndovinaFormazione .f4-4-2 .g5, .IndovinaFormazione_match .f4-4-2 .g5 { left: 912px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g5, .IndovinaFormazione_match .f4-4-2 .g5 { /* medium */ left: 728px; } }
#IndovinaFormazione .f4-4-2 .g6, .IndovinaFormazione_match .f4-4-2 .g6 { left: 300px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g6, .IndovinaFormazione_match .f4-4-2 .g6 { /* medium */ left: 200px; } }
#IndovinaFormazione .f4-4-2 .g7, .IndovinaFormazione_match .f4-4-2 .g7 { left: 480px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g7, .IndovinaFormazione_match .f4-4-2 .g7 { /* medium */ left: 385px; } }
#IndovinaFormazione .f4-4-2 .g8, .IndovinaFormazione_match .f4-4-2 .g8 { left: 660px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g8, .IndovinaFormazione_match .f4-4-2 .g8 { /* medium */ left: 570px; } }
#IndovinaFormazione .f4-4-2 .g9, .IndovinaFormazione_match .f4-4-2 .g9 { left: 840px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g9, .IndovinaFormazione_match .f4-4-2 .g9 { /* medium */ left: 755px; } }
#IndovinaFormazione .f4-4-2 .g10, .IndovinaFormazione_match .f4-4-2 .g10 { left: 480px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g10, .IndovinaFormazione_match .f4-4-2 .g10 { /* medium */ left: 365px; } }
#IndovinaFormazione .f4-4-2 .g11, .IndovinaFormazione_match .f4-4-2 .g11 { left: 665px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-4-2 .g11, .IndovinaFormazione_match .f4-4-2 .g11 { /* medium */ left: 555px; } }
#IndovinaFormazione .f4-3-3, .IndovinaFormazione_match .f4-3-3 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
#IndovinaFormazione .f4-3-3 .g2, #IndovinaFormazione .f4-3-3 .g3, #IndovinaFormazione .f4-3-3 .g4, #IndovinaFormazione .f4-3-3 .g5, .IndovinaFormazione_match .f4-3-3 .g2, .IndovinaFormazione_match .f4-3-3 .g3, .IndovinaFormazione_match .f4-3-3 .g4, .IndovinaFormazione_match .f4-3-3 .g5 { bottom: 175px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g2, #IndovinaFormazione .f4-3-3 .g3, #IndovinaFormazione .f4-3-3 .g4, #IndovinaFormazione .f4-3-3 .g5, .IndovinaFormazione_match .f4-3-3 .g2, .IndovinaFormazione_match .f4-3-3 .g3, .IndovinaFormazione_match .f4-3-3 .g4, .IndovinaFormazione_match .f4-3-3 .g5 { /* medium */ bottom: 145px; } }
#IndovinaFormazione .f4-3-3 .g6, #IndovinaFormazione .f4-3-3 .g7, #IndovinaFormazione .f4-3-3 .g8, .IndovinaFormazione_match .f4-3-3 .g6, .IndovinaFormazione_match .f4-3-3 .g7, .IndovinaFormazione_match .f4-3-3 .g8 { bottom: 330px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g6, #IndovinaFormazione .f4-3-3 .g7, #IndovinaFormazione .f4-3-3 .g8, .IndovinaFormazione_match .f4-3-3 .g6, .IndovinaFormazione_match .f4-3-3 .g7, .IndovinaFormazione_match .f4-3-3 .g8 { /* medium */ bottom: 275px; } }
#IndovinaFormazione .f4-3-3 .g9, #IndovinaFormazione .f4-3-3 .g10, #IndovinaFormazione .f4-3-3 .g11, .IndovinaFormazione_match .f4-3-3 .g9, .IndovinaFormazione_match .f4-3-3 .g10, .IndovinaFormazione_match .f4-3-3 .g11 { bottom: 485px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g9, #IndovinaFormazione .f4-3-3 .g10, #IndovinaFormazione .f4-3-3 .g11, .IndovinaFormazione_match .f4-3-3 .g9, .IndovinaFormazione_match .f4-3-3 .g10, .IndovinaFormazione_match .f4-3-3 .g11 { /* medium */ bottom: 390px; } }
#IndovinaFormazione .f4-3-3 .g2, .IndovinaFormazione_match .f4-3-3 .g2 { left: 228px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g2, .IndovinaFormazione_match .f4-3-3 .g2 { /* medium */ left: 182px; } }
#IndovinaFormazione .f4-3-3 .g3, .IndovinaFormazione_match .f4-3-3 .g3 { left: 456px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g3, .IndovinaFormazione_match .f4-3-3 .g3 { /* medium */ left: 364px; } }
#IndovinaFormazione .f4-3-3 .g4, .IndovinaFormazione_match .f4-3-3 .g4 { left: 684px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g4, .IndovinaFormazione_match .f4-3-3 .g4 { /* medium */ left: 546px; } }
#IndovinaFormazione .f4-3-3 .g5, .IndovinaFormazione_match .f4-3-3 .g5 { left: 912px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g5, .IndovinaFormazione_match .f4-3-3 .g5 { /* medium */ left: 728px; } }
#IndovinaFormazione .f4-3-3 .g6, .IndovinaFormazione_match .f4-3-3 .g6 { left: 360px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g6, .IndovinaFormazione_match .f4-3-3 .g6 { /* medium */ left: 260px; } }
#IndovinaFormazione .f4-3-3 .g7, .IndovinaFormazione_match .f4-3-3 .g7 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g7, .IndovinaFormazione_match .f4-3-3 .g7 { /* medium */ left: 455px; } }
#IndovinaFormazione .f4-3-3 .g8, .IndovinaFormazione_match .f4-3-3 .g8 { left: 790px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g8, .IndovinaFormazione_match .f4-3-3 .g8 { /* medium */ left: 660px; } }
#IndovinaFormazione .f4-3-3 .g9, .IndovinaFormazione_match .f4-3-3 .g9 { left: 400px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g9, .IndovinaFormazione_match .f4-3-3 .g9 { /* medium */ left: 280px; } }
#IndovinaFormazione .f4-3-3 .g10, .IndovinaFormazione_match .f4-3-3 .g10 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g10, .IndovinaFormazione_match .f4-3-3 .g10 { /* medium */ left: 455px; } }
#IndovinaFormazione .f4-3-3 .g11, .IndovinaFormazione_match .f4-3-3 .g11 { left: 760px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-3-3 .g11, .IndovinaFormazione_match .f4-3-3 .g11 { /* medium */ left: 630px; } }
#IndovinaFormazione .f4-5-1, .IndovinaFormazione_match .f4-5-1 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
#IndovinaFormazione .f4-5-1 .g2, #IndovinaFormazione .f4-5-1 .g3, #IndovinaFormazione .f4-5-1 .g4, #IndovinaFormazione .f4-5-1 .g5, .IndovinaFormazione_match .f4-5-1 .g2, .IndovinaFormazione_match .f4-5-1 .g3, .IndovinaFormazione_match .f4-5-1 .g4, .IndovinaFormazione_match .f4-5-1 .g5 { bottom: 175px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g2, #IndovinaFormazione .f4-5-1 .g3, #IndovinaFormazione .f4-5-1 .g4, #IndovinaFormazione .f4-5-1 .g5, .IndovinaFormazione_match .f4-5-1 .g2, .IndovinaFormazione_match .f4-5-1 .g3, .IndovinaFormazione_match .f4-5-1 .g4, .IndovinaFormazione_match .f4-5-1 .g5 { /* medium */ bottom: 145px; } }
#IndovinaFormazione .f4-5-1 .g6, #IndovinaFormazione .f4-5-1 .g7, #IndovinaFormazione .f4-5-1 .g8, #IndovinaFormazione .f4-5-1 .g9, #IndovinaFormazione .f4-5-1 .g10, .IndovinaFormazione_match .f4-5-1 .g6, .IndovinaFormazione_match .f4-5-1 .g7, .IndovinaFormazione_match .f4-5-1 .g8, .IndovinaFormazione_match .f4-5-1 .g9, .IndovinaFormazione_match .f4-5-1 .g10 { bottom: 330px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g6, #IndovinaFormazione .f4-5-1 .g7, #IndovinaFormazione .f4-5-1 .g8, #IndovinaFormazione .f4-5-1 .g9, #IndovinaFormazione .f4-5-1 .g10, .IndovinaFormazione_match .f4-5-1 .g6, .IndovinaFormazione_match .f4-5-1 .g7, .IndovinaFormazione_match .f4-5-1 .g8, .IndovinaFormazione_match .f4-5-1 .g9, .IndovinaFormazione_match .f4-5-1 .g10 { /* medium */ bottom: 275px; } }
#IndovinaFormazione .f4-5-1 .g11, .IndovinaFormazione_match .f4-5-1 .g11 { bottom: 485px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g11, .IndovinaFormazione_match .f4-5-1 .g11 { /* medium */ bottom: 390px; } }
#IndovinaFormazione .f4-5-1 .g2, .IndovinaFormazione_match .f4-5-1 .g2 { left: 228px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g2, .IndovinaFormazione_match .f4-5-1 .g2 { /* medium */ left: 182px; } }
#IndovinaFormazione .f4-5-1 .g3, .IndovinaFormazione_match .f4-5-1 .g3 { left: 456px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g3, .IndovinaFormazione_match .f4-5-1 .g3 { /* medium */ left: 364px; } }
#IndovinaFormazione .f4-5-1 .g4, .IndovinaFormazione_match .f4-5-1 .g4 { left: 684px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g4, .IndovinaFormazione_match .f4-5-1 .g4 { /* medium */ left: 546px; } }
#IndovinaFormazione .f4-5-1 .g5, .IndovinaFormazione_match .f4-5-1 .g5 { left: 912px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g5, .IndovinaFormazione_match .f4-5-1 .g5 { /* medium */ left: 728px; } }
#IndovinaFormazione .f4-5-1 .g6, .IndovinaFormazione_match .f4-5-1 .g6 { left: 210px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g6, .IndovinaFormazione_match .f4-5-1 .g6 { /* medium */ left: 85px; } }
#IndovinaFormazione .f4-5-1 .g7, .IndovinaFormazione_match .f4-5-1 .g7 { left: 390px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g7, .IndovinaFormazione_match .f4-5-1 .g7 { /* medium */ left: 270px; } }
#IndovinaFormazione .f4-5-1 .g8, .IndovinaFormazione_match .f4-5-1 .g8 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g8, .IndovinaFormazione_match .f4-5-1 .g8 { /* medium */ left: 455px; } }
#IndovinaFormazione .f4-5-1 .g9, .IndovinaFormazione_match .f4-5-1 .g9 { left: 750px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g9, .IndovinaFormazione_match .f4-5-1 .g9 { /* medium */ left: 640px; } }
#IndovinaFormazione .f4-5-1 .g10, .IndovinaFormazione_match .f4-5-1 .g10 { left: 930px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g10, .IndovinaFormazione_match .f4-5-1 .g10 { /* medium */ left: 825px; } }
#IndovinaFormazione .f4-5-1 .g11, .IndovinaFormazione_match .f4-5-1 .g11 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f4-5-1 .g11, .IndovinaFormazione_match .f4-5-1 .g11 { /* medium */ left: 455px; } }
#IndovinaFormazione .f5-3-2, .IndovinaFormazione_match .f5-3-2 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
#IndovinaFormazione .f5-3-2 .g2, #IndovinaFormazione .f5-3-2 .g3, #IndovinaFormazione .f5-3-2 .g4, #IndovinaFormazione .f5-3-2 .g5, #IndovinaFormazione .f5-3-2 .g6, .IndovinaFormazione_match .f5-3-2 .g2, .IndovinaFormazione_match .f5-3-2 .g3, .IndovinaFormazione_match .f5-3-2 .g4, .IndovinaFormazione_match .f5-3-2 .g5, .IndovinaFormazione_match .f5-3-2 .g6 { bottom: 175px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g2, #IndovinaFormazione .f5-3-2 .g3, #IndovinaFormazione .f5-3-2 .g4, #IndovinaFormazione .f5-3-2 .g5, #IndovinaFormazione .f5-3-2 .g6, .IndovinaFormazione_match .f5-3-2 .g2, .IndovinaFormazione_match .f5-3-2 .g3, .IndovinaFormazione_match .f5-3-2 .g4, .IndovinaFormazione_match .f5-3-2 .g5, .IndovinaFormazione_match .f5-3-2 .g6 { /* medium */ bottom: 145px; } }
#IndovinaFormazione .f5-3-2 .g7, #IndovinaFormazione .f5-3-2 .g8, #IndovinaFormazione .f5-3-2 .g9, .IndovinaFormazione_match .f5-3-2 .g7, .IndovinaFormazione_match .f5-3-2 .g8, .IndovinaFormazione_match .f5-3-2 .g9 { bottom: 330px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g7, #IndovinaFormazione .f5-3-2 .g8, #IndovinaFormazione .f5-3-2 .g9, .IndovinaFormazione_match .f5-3-2 .g7, .IndovinaFormazione_match .f5-3-2 .g8, .IndovinaFormazione_match .f5-3-2 .g9 { /* medium */ bottom: 275px; } }
#IndovinaFormazione .f5-3-2 .g10, #IndovinaFormazione .f5-3-2 .g11, .IndovinaFormazione_match .f5-3-2 .g10, .IndovinaFormazione_match .f5-3-2 .g11 { bottom: 485px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g10, #IndovinaFormazione .f5-3-2 .g11, .IndovinaFormazione_match .f5-3-2 .g10, .IndovinaFormazione_match .f5-3-2 .g11 { /* medium */ bottom: 390px; } }
#IndovinaFormazione .f5-3-2 .g2, .IndovinaFormazione_match .f5-3-2 .g2 { left: 180px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g2, .IndovinaFormazione_match .f5-3-2 .g2 { /* medium */ left: 95px; } }
#IndovinaFormazione .f5-3-2 .g3, .IndovinaFormazione_match .f5-3-2 .g3 { left: 370px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g3, .IndovinaFormazione_match .f5-3-2 .g3 { /* medium */ left: 280px; } }
#IndovinaFormazione .f5-3-2 .g4, .IndovinaFormazione_match .f5-3-2 .g4 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g4, .IndovinaFormazione_match .f5-3-2 .g4 { /* medium */ left: 455px; } }
#IndovinaFormazione .f5-3-2 .g5, .IndovinaFormazione_match .f5-3-2 .g5 { left: 770px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g5, .IndovinaFormazione_match .f5-3-2 .g5 { /* medium */ left: 640px; } }
#IndovinaFormazione .f5-3-2 .g6, .IndovinaFormazione_match .f5-3-2 .g6 { left: 960px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g6, .IndovinaFormazione_match .f5-3-2 .g6 { /* medium */ left: 825px; } }
#IndovinaFormazione .f5-3-2 .g7, .IndovinaFormazione_match .f5-3-2 .g7 { left: 360px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g7, .IndovinaFormazione_match .f5-3-2 .g7 { /* medium */ left: 260px; } }
#IndovinaFormazione .f5-3-2 .g8, .IndovinaFormazione_match .f5-3-2 .g8 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g8, .IndovinaFormazione_match .f5-3-2 .g8 { /* medium */ left: 455px; } }
#IndovinaFormazione .f5-3-2 .g9, .IndovinaFormazione_match .f5-3-2 .g9 { left: 790px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g9, .IndovinaFormazione_match .f5-3-2 .g9 { /* medium */ left: 660px; } }
#IndovinaFormazione .f5-3-2 .g10, .IndovinaFormazione_match .f5-3-2 .g10 { left: 480px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g10, .IndovinaFormazione_match .f5-3-2 .g10 { /* medium */ left: 365px; } }
#IndovinaFormazione .f5-3-2 .g11, .IndovinaFormazione_match .f5-3-2 .g11 { left: 665px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-3-2 .g11, .IndovinaFormazione_match .f5-3-2 .g11 { /* medium */ left: 550px; } }
#IndovinaFormazione .f5-4-1, .IndovinaFormazione_match .f5-4-1 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
#IndovinaFormazione .f5-4-1 .g2, #IndovinaFormazione .f5-4-1 .g3, #IndovinaFormazione .f5-4-1 .g4, #IndovinaFormazione .f5-4-1 .g5, #IndovinaFormazione .f5-4-1 .g6, .IndovinaFormazione_match .f5-4-1 .g2, .IndovinaFormazione_match .f5-4-1 .g3, .IndovinaFormazione_match .f5-4-1 .g4, .IndovinaFormazione_match .f5-4-1 .g5, .IndovinaFormazione_match .f5-4-1 .g6 { bottom: 175px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g2, #IndovinaFormazione .f5-4-1 .g3, #IndovinaFormazione .f5-4-1 .g4, #IndovinaFormazione .f5-4-1 .g5, #IndovinaFormazione .f5-4-1 .g6, .IndovinaFormazione_match .f5-4-1 .g2, .IndovinaFormazione_match .f5-4-1 .g3, .IndovinaFormazione_match .f5-4-1 .g4, .IndovinaFormazione_match .f5-4-1 .g5, .IndovinaFormazione_match .f5-4-1 .g6 { /* medium */ bottom: 145px; } }
#IndovinaFormazione .f5-4-1 .g7, #IndovinaFormazione .f5-4-1 .g8, #IndovinaFormazione .f5-4-1 .g9, #IndovinaFormazione .f5-4-1 .g10, .IndovinaFormazione_match .f5-4-1 .g7, .IndovinaFormazione_match .f5-4-1 .g8, .IndovinaFormazione_match .f5-4-1 .g9, .IndovinaFormazione_match .f5-4-1 .g10 { bottom: 330px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g7, #IndovinaFormazione .f5-4-1 .g8, #IndovinaFormazione .f5-4-1 .g9, #IndovinaFormazione .f5-4-1 .g10, .IndovinaFormazione_match .f5-4-1 .g7, .IndovinaFormazione_match .f5-4-1 .g8, .IndovinaFormazione_match .f5-4-1 .g9, .IndovinaFormazione_match .f5-4-1 .g10 { /* medium */ bottom: 275px; } }
#IndovinaFormazione .f5-4-1 .g11, .IndovinaFormazione_match .f5-4-1 .g11 { bottom: 485px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g11, .IndovinaFormazione_match .f5-4-1 .g11 { /* medium */ bottom: 390px; } }
#IndovinaFormazione .f5-4-1 .g2, .IndovinaFormazione_match .f5-4-1 .g2 { left: 180px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g2, .IndovinaFormazione_match .f5-4-1 .g2 { /* medium */ left: 95px; } }
#IndovinaFormazione .f5-4-1 .g3, .IndovinaFormazione_match .f5-4-1 .g3 { left: 370px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g3, .IndovinaFormazione_match .f5-4-1 .g3 { /* medium */ left: 280px; } }
#IndovinaFormazione .f5-4-1 .g4, .IndovinaFormazione_match .f5-4-1 .g4 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g4, .IndovinaFormazione_match .f5-4-1 .g4 { /* medium */ left: 455px; } }
#IndovinaFormazione .f5-4-1 .g5, .IndovinaFormazione_match .f5-4-1 .g5 { left: 770px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g5, .IndovinaFormazione_match .f5-4-1 .g5 { /* medium */ left: 640px; } }
#IndovinaFormazione .f5-4-1 .g6, .IndovinaFormazione_match .f5-4-1 .g6 { left: 960px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g6, .IndovinaFormazione_match .f5-4-1 .g6 { /* medium */ left: 825px; } }
#IndovinaFormazione .f5-4-1 .g7, .IndovinaFormazione_match .f5-4-1 .g7 { left: 300px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g7, .IndovinaFormazione_match .f5-4-1 .g7 { /* medium */ left: 200px; } }
#IndovinaFormazione .f5-4-1 .g8, .IndovinaFormazione_match .f5-4-1 .g8 { left: 480px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g8, .IndovinaFormazione_match .f5-4-1 .g8 { /* medium */ left: 385px; } }
#IndovinaFormazione .f5-4-1 .g9, .IndovinaFormazione_match .f5-4-1 .g9 { left: 660px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g9, .IndovinaFormazione_match .f5-4-1 .g9 { /* medium */ left: 570px; } }
#IndovinaFormazione .f5-4-1 .g10, .IndovinaFormazione_match .f5-4-1 .g10 { left: 840px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g10, .IndovinaFormazione_match .f5-4-1 .g10 { /* medium */ left: 755px; } }
#IndovinaFormazione .f5-4-1 .g11, .IndovinaFormazione_match .f5-4-1 .g11 { left: 570px; }
@media (max-width: 1199px) { #IndovinaFormazione .f5-4-1 .g11, .IndovinaFormazione_match .f5-4-1 .g11 { /* medium */ left: 455px; } }

#IndovinaFormazione-OpenClassifica-btn { position: absolute; right: 15px; top: 36px; width: 130px; height: 130px; background: url(img/indovina-formazione/classifica/button.png) top center no-repeat; }
#IndovinaFormazione-OpenClassifica-btn .glyphicon { font-size: .65em; display: inline-block; margin-left: 5px; }
#IndovinaFormazione-OpenClassifica-btn .std, #IndovinaFormazione-OpenClassifica-btn .hover { display: block; width: 100%; height: 100%; background: url(img/indovina-formazione/classifica/button.png) top center no-repeat; position: absolute; top: 0; left: 0; transition: .35s all ease-in; }
#IndovinaFormazione-OpenClassifica-btn .hover { opacity: 0; background-position: bottom center; }
#IndovinaFormazione-OpenClassifica-btn:hover .std { opacity: 0; }
#IndovinaFormazione-OpenClassifica-btn:hover .hover { opacity: 1; }

#IndovinaFormazione-Classifica { display: none; }
#IndovinaFormazione-Classifica .Title { display: block; text-align: center; margin-bottom: 12px; }
#IndovinaFormazione-Classifica .Title > div { display: inline-block; padding: .15em 2em; font-size: 24px; font-weight: 100; color: #FFF; background-color: #ae9862; border-radius: 20px; }
#IndovinaFormazione-Classifica .table { margin-top: 25px; }
#IndovinaFormazione-Classifica .table .Avatar { vertical-align: middle; width: 40px; display: inline-block; margin-right: 10px; }
#IndovinaFormazione-Classifica .table th { background-color: #6550a2; font-weight: normal; color: white; }
#IndovinaFormazione-Classifica .table.table-striped > tbody > tr:nth-child(odd) > td { background-color: #efedf5; }
#IndovinaFormazione-Classifica .table th, #IndovinaFormazione-Classifica .table td { vertical-align: middle; }

.IndovinaFormazione_match .StripeWinner, .IndovinaPrimoMarcatore_match .StripeWinner, .IndovinaRisultato_match .StripeWinner { position: absolute; top: 30px; width: 396px; height: 87px; left: 50%; z-index: 100; margin-left: 94px; background: url(img/indovina-formazione/stripe_winner.png) no-repeat; color: #FFF; text-align: center; }
.IndovinaFormazione_match .StripeWinner > span, .IndovinaPrimoMarcatore_match .StripeWinner > span, .IndovinaRisultato_match .StripeWinner > span { display: block; height: 50px; margin: 2px 60px 0; }
.IndovinaFormazione_match .StripeWinner.Win, .IndovinaPrimoMarcatore_match .StripeWinner.Win, .IndovinaRisultato_match .StripeWinner.Win { font-size: 20px; padding-top: 12px; }
.IndovinaFormazione_match .StripeWinner.Lose, .IndovinaPrimoMarcatore_match .StripeWinner.Lose, .IndovinaRisultato_match .StripeWinner.Lose { font-size: 16px; padding-top: 2px; }

.IndovinaFormazione_match { position: relative; /*pv: prevMatch */ }
.IndovinaFormazione_match.Giocata .BoxFormazione { left: 15px; }
.IndovinaFormazione_match.Effettiva .BoxFormazione { right: 15px; }
.IndovinaFormazione_match .BoxFormazione { position: absolute; top: 35px; width: 134px; height: 50px; line-height: 50px; text-align: center; display: block; text-shadow: 0 1px 3px rgba(0, 0, 0, 0); font-size: 24px; color: #FFF; background: url(img/indovina-formazione/box_formazione-mini.png) center center no-repeat; }
.IndovinaFormazione_match .MainBanner { top: 14px; width: 206px; height: 87px; margin-left: -104px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .MainBanner { /* medium */ top: 10px; width: 164px; margin-left: -82px; height: 70px; } }
.IndovinaFormazione_match .Campo { height: 492px !important; }
@media (max-width: 1199px) { .IndovinaFormazione_match .Campo { /* medium */ height: 388px !important; } }
.IndovinaFormazione_match .Player { background-image: none; max-width: 110px; overflow: visible; }
@media (max-width: 1199px) { .IndovinaFormazione_match .Player { /* medium */ height: 60px; } }
.IndovinaFormazione_match .Player img { width: 100%; }
@media (max-width: 1199px) { .IndovinaFormazione_match .Player img { /* medium */ display: none; } }
.IndovinaFormazione_match .Player span { font-size: 14px; border: 2px solid #FFF; padding: 3px 6px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .Player span { /* medium */ font-size: 13px; } }
.IndovinaFormazione_match .Portiere { bottom: 10px; left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .Portiere { /* medium */ bottom: 10px; left: 257px; } }
.IndovinaFormazione_match .Portiere { z-index: 11; }
.IndovinaFormazione_match .g2 { z-index: 10; }
.IndovinaFormazione_match .g3 { z-index: 9; }
.IndovinaFormazione_match .g4 { z-index: 8; }
.IndovinaFormazione_match .g5 { z-index: 7; }
.IndovinaFormazione_match .g6 { z-index: 6; }
.IndovinaFormazione_match .g7 { z-index: 5; }
.IndovinaFormazione_match .g8 { z-index: 4; }
.IndovinaFormazione_match .g9 { z-index: 3; }
.IndovinaFormazione_match .g10 { z-index: 2; }
.IndovinaFormazione_match .g11 { z-index: 1; }
.IndovinaFormazione_match .f3-4-3 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
.IndovinaFormazione_match .f3-4-3 .g2, .IndovinaFormazione_match .f3-4-3 .g3, .IndovinaFormazione_match .f3-4-3 .g4 { bottom: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g2, .IndovinaFormazione_match .f3-4-3 .g3, .IndovinaFormazione_match .f3-4-3 .g4 { /* medium */ bottom: 65px; } }
.IndovinaFormazione_match .f3-4-3 .g5, .IndovinaFormazione_match .f3-4-3 .g6, .IndovinaFormazione_match .f3-4-3 .g7, .IndovinaFormazione_match .f3-4-3 .g8 { bottom: 180px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g5, .IndovinaFormazione_match .f3-4-3 .g6, .IndovinaFormazione_match .f3-4-3 .g7, .IndovinaFormazione_match .f3-4-3 .g8 { /* medium */ bottom: 130px; } }
.IndovinaFormazione_match .f3-4-3 .g9, .IndovinaFormazione_match .f3-4-3 .g10, .IndovinaFormazione_match .f3-4-3 .g11 { bottom: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g9, .IndovinaFormazione_match .f3-4-3 .g10, .IndovinaFormazione_match .f3-4-3 .g11 { /* medium */ bottom: 190px; } }
.IndovinaFormazione_match .f3-4-3 .g2 { left: 170px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g2 { /* medium */ left: 147px; } }
.IndovinaFormazione_match .f3-4-3 .g3 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g3 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f3-4-3 .g4 { left: 470px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g4 { /* medium */ left: 367px; } }
.IndovinaFormazione_match .f3-4-3 .g5 { left: 150px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g5 { /* medium */ left: 135px; } }
.IndovinaFormazione_match .f3-4-3 .g6 { left: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g6 { /* medium */ left: 215px; } }
.IndovinaFormazione_match .f3-4-3 .g7 { left: 370px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g7 { /* medium */ left: 295px; } }
.IndovinaFormazione_match .f3-4-3 .g8 { left: 480px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g8 { /* medium */ left: 375px; } }
.IndovinaFormazione_match .f3-4-3 .g9 { left: 205px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g9 { /* medium */ left: 177px; } }
.IndovinaFormazione_match .f3-4-3 .g10 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g10 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f3-4-3 .g11 { left: 425px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-4-3 .g11 { /* medium */ left: 337px; } }
.IndovinaFormazione_match .f3-5-2 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
.IndovinaFormazione_match .f3-5-2 .g2, .IndovinaFormazione_match .f3-5-2 .g3, .IndovinaFormazione_match .f3-5-2 .g4 { bottom: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g2, .IndovinaFormazione_match .f3-5-2 .g3, .IndovinaFormazione_match .f3-5-2 .g4 { /* medium */ bottom: 65px; } }
.IndovinaFormazione_match .f3-5-2 .g5, .IndovinaFormazione_match .f3-5-2 .g6, .IndovinaFormazione_match .f3-5-2 .g7, .IndovinaFormazione_match .f3-5-2 .g8, .IndovinaFormazione_match .f3-5-2 .g9 { bottom: 180px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g5, .IndovinaFormazione_match .f3-5-2 .g6, .IndovinaFormazione_match .f3-5-2 .g7, .IndovinaFormazione_match .f3-5-2 .g8, .IndovinaFormazione_match .f3-5-2 .g9 { /* medium */ bottom: 130px; } }
.IndovinaFormazione_match .f3-5-2 .g10, .IndovinaFormazione_match .f3-5-2 .g11 { bottom: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g10, .IndovinaFormazione_match .f3-5-2 .g11 { /* medium */ bottom: 190px; } }
.IndovinaFormazione_match .f3-5-2 .g2 { left: 205px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g2 { /* medium */ left: 147px; } }
.IndovinaFormazione_match .f3-5-2 .g3 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g3 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f3-5-2 .g4 { left: 425px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g4 { /* medium */ left: 367px; } }
.IndovinaFormazione_match .f3-5-2 .g5 { left: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g5 { /* medium */ left: 97px; } }
.IndovinaFormazione_match .f3-5-2 .g6 { left: 205px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g6 { /* medium */ left: 177px; } }
.IndovinaFormazione_match .f3-5-2 .g7 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g7 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f3-5-2 .g8 { left: 425px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g8 { /* medium */ left: 337px; } }
.IndovinaFormazione_match .f3-5-2 .g9 { left: 535px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g9 { /* medium */ left: 417px; } }
.IndovinaFormazione_match .f3-5-2 .g10 { left: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g10 { /* medium */ left: 200px; } }
.IndovinaFormazione_match .f3-5-2 .g11 { left: 372px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f3-5-2 .g11 { /* medium */ left: 310px; } }
.IndovinaFormazione_match .f4-4-2 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
.IndovinaFormazione_match .f4-4-2 .g2, .IndovinaFormazione_match .f4-4-2 .g3, .IndovinaFormazione_match .f4-4-2 .g4, .IndovinaFormazione_match .f4-4-2 .g5 { bottom: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g2, .IndovinaFormazione_match .f4-4-2 .g3, .IndovinaFormazione_match .f4-4-2 .g4, .IndovinaFormazione_match .f4-4-2 .g5 { /* medium */ bottom: 65px; } }
.IndovinaFormazione_match .f4-4-2 .g6, .IndovinaFormazione_match .f4-4-2 .g7, .IndovinaFormazione_match .f4-4-2 .g8, .IndovinaFormazione_match .f4-4-2 .g9 { bottom: 180px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g6, .IndovinaFormazione_match .f4-4-2 .g7, .IndovinaFormazione_match .f4-4-2 .g8, .IndovinaFormazione_match .f4-4-2 .g9 { /* medium */ bottom: 130px; } }
.IndovinaFormazione_match .f4-4-2 .g10, .IndovinaFormazione_match .f4-4-2 .g11 { bottom: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g10, .IndovinaFormazione_match .f4-4-2 .g11 { /* medium */ bottom: 190px; } }
.IndovinaFormazione_match .f4-4-2 .g2 { left: 150px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g2 { /* medium */ left: 90px; } }
.IndovinaFormazione_match .f4-4-2 .g3 { left: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g3 { /* medium */ left: 200px; } }
.IndovinaFormazione_match .f4-4-2 .g4 { left: 370px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g4 { /* medium */ left: 310px; } }
.IndovinaFormazione_match .f4-4-2 .g5 { left: 480px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g5 { /* medium */ left: 420px; } }
.IndovinaFormazione_match .f4-4-2 .g6 { left: 170px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g6 { /* medium */ left: 135px; } }
.IndovinaFormazione_match .f4-4-2 .g7 { left: 265px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g7 { /* medium */ left: 215px; } }
.IndovinaFormazione_match .f4-4-2 .g8 { left: 360px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g8 { /* medium */ left: 295px; } }
.IndovinaFormazione_match .f4-4-2 .g9 { left: 455px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g9 { /* medium */ left: 375px; } }
.IndovinaFormazione_match .f4-4-2 .g10 { left: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g10 { /* medium */ left: 200px; } }
.IndovinaFormazione_match .f4-4-2 .g11 { left: 372px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-4-2 .g11 { /* medium */ left: 310px; } }
.IndovinaFormazione_match .f4-3-3 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
.IndovinaFormazione_match .f4-3-3 .g2, .IndovinaFormazione_match .f4-3-3 .g3, .IndovinaFormazione_match .f4-3-3 .g4, .IndovinaFormazione_match .f4-3-3 .g5 { bottom: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g2, .IndovinaFormazione_match .f4-3-3 .g3, .IndovinaFormazione_match .f4-3-3 .g4, .IndovinaFormazione_match .f4-3-3 .g5 { /* medium */ bottom: 65px; } }
.IndovinaFormazione_match .f4-3-3 .g6, .IndovinaFormazione_match .f4-3-3 .g7, .IndovinaFormazione_match .f4-3-3 .g8 { bottom: 180px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g6, .IndovinaFormazione_match .f4-3-3 .g7, .IndovinaFormazione_match .f4-3-3 .g8 { /* medium */ bottom: 130px; } }
.IndovinaFormazione_match .f4-3-3 .g9, .IndovinaFormazione_match .f4-3-3 .g10, .IndovinaFormazione_match .f4-3-3 .g11 { bottom: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g9, .IndovinaFormazione_match .f4-3-3 .g10, .IndovinaFormazione_match .f4-3-3 .g11 { /* medium */ bottom: 190px; } }
.IndovinaFormazione_match .f4-3-3 .g2 { left: 150px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g2 { /* medium */ left: 90px; } }
.IndovinaFormazione_match .f4-3-3 .g3 { left: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g3 { /* medium */ left: 200px; } }
.IndovinaFormazione_match .f4-3-3 .g4 { left: 370px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g4 { /* medium */ left: 310px; } }
.IndovinaFormazione_match .f4-3-3 .g5 { left: 480px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g5 { /* medium */ left: 420px; } }
.IndovinaFormazione_match .f4-3-3 .g6 { left: 205px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g6 { /* medium */ left: 147px; } }
.IndovinaFormazione_match .f4-3-3 .g7 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g7 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f4-3-3 .g8 { left: 425px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g8 { /* medium */ left: 367px; } }
.IndovinaFormazione_match .f4-3-3 .g9 { left: 220px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g9 { /* medium */ left: 177px; } }
.IndovinaFormazione_match .f4-3-3 .g10 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g10 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f4-3-3 .g11 { left: 410px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-3-3 .g11 { /* medium */ left: 337px; } }
.IndovinaFormazione_match .f4-5-1 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
.IndovinaFormazione_match .f4-5-1 .g2, .IndovinaFormazione_match .f4-5-1 .g3, .IndovinaFormazione_match .f4-5-1 .g4, .IndovinaFormazione_match .f4-5-1 .g5 { bottom: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g2, .IndovinaFormazione_match .f4-5-1 .g3, .IndovinaFormazione_match .f4-5-1 .g4, .IndovinaFormazione_match .f4-5-1 .g5 { /* medium */ bottom: 65px; } }
.IndovinaFormazione_match .f4-5-1 .g6, .IndovinaFormazione_match .f4-5-1 .g7, .IndovinaFormazione_match .f4-5-1 .g8, .IndovinaFormazione_match .f4-5-1 .g9, .IndovinaFormazione_match .f4-5-1 .g10 { bottom: 180px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g6, .IndovinaFormazione_match .f4-5-1 .g7, .IndovinaFormazione_match .f4-5-1 .g8, .IndovinaFormazione_match .f4-5-1 .g9, .IndovinaFormazione_match .f4-5-1 .g10 { /* medium */ bottom: 130px; } }
.IndovinaFormazione_match .f4-5-1 .g11 { bottom: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g11 { /* medium */ bottom: 190px; } }
.IndovinaFormazione_match .f4-5-1 .g2 { left: 150px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g2 { /* medium */ left: 90px; } }
.IndovinaFormazione_match .f4-5-1 .g3 { left: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g3 { /* medium */ left: 200px; } }
.IndovinaFormazione_match .f4-5-1 .g4 { left: 370px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g4 { /* medium */ left: 310px; } }
.IndovinaFormazione_match .f4-5-1 .g5 { left: 480px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g5 { /* medium */ left: 420px; } }
.IndovinaFormazione_match .f4-5-1 .g6 { left: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g6 { /* medium */ left: 97px; } }
.IndovinaFormazione_match .f4-5-1 .g7 { left: 205px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g7 { /* medium */ left: 177px; } }
.IndovinaFormazione_match .f4-5-1 .g8 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g8 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f4-5-1 .g9 { left: 425px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g9 { /* medium */ left: 337px; } }
.IndovinaFormazione_match .f4-5-1 .g10 { left: 535px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g10 { /* medium */ left: 417px; } }
.IndovinaFormazione_match .f4-5-1 .g11 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f4-5-1 .g11 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f5-3-2 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
.IndovinaFormazione_match .f5-3-2 .g2, .IndovinaFormazione_match .f5-3-2 .g3, .IndovinaFormazione_match .f5-3-2 .g4, .IndovinaFormazione_match .f5-3-2 .g5, .IndovinaFormazione_match .f5-3-2 .g6 { bottom: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g2, .IndovinaFormazione_match .f5-3-2 .g3, .IndovinaFormazione_match .f5-3-2 .g4, .IndovinaFormazione_match .f5-3-2 .g5, .IndovinaFormazione_match .f5-3-2 .g6 { /* medium */ bottom: 65px; } }
.IndovinaFormazione_match .f5-3-2 .g7, .IndovinaFormazione_match .f5-3-2 .g8, .IndovinaFormazione_match .f5-3-2 .g9 { bottom: 180px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g7, .IndovinaFormazione_match .f5-3-2 .g8, .IndovinaFormazione_match .f5-3-2 .g9 { /* medium */ bottom: 130px; } }
.IndovinaFormazione_match .f5-3-2 .g10, .IndovinaFormazione_match .f5-3-2 .g11 { bottom: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g10, .IndovinaFormazione_match .f5-3-2 .g11 { /* medium */ bottom: 190px; } }
.IndovinaFormazione_match .f5-3-2 .g2 { left: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g2 { /* medium */ left: 97px; } }
.IndovinaFormazione_match .f5-3-2 .g3 { left: 205px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g3 { /* medium */ left: 177px; } }
.IndovinaFormazione_match .f5-3-2 .g4 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g4 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f5-3-2 .g5 { left: 425px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g5 { /* medium */ left: 337px; } }
.IndovinaFormazione_match .f5-3-2 .g6 { left: 535px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g6 { /* medium */ left: 417px; } }
.IndovinaFormazione_match .f5-3-2 .g7 { left: 205px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g7 { /* medium */ left: 147px; } }
.IndovinaFormazione_match .f5-3-2 .g8 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g8 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f5-3-2 .g9 { left: 425px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g9 { /* medium */ left: 367px; } }
.IndovinaFormazione_match .f5-3-2 .g10 { left: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g10 { /* medium */ left: 200px; } }
.IndovinaFormazione_match .f5-3-2 .g11 { left: 372px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-3-2 .g11 { /* medium */ left: 310px; } }
.IndovinaFormazione_match .f5-4-1 { /* DIFESA */ /* CENTROCAMPO */ /* ATTACCO */ }
.IndovinaFormazione_match .f5-4-1 .g2, .IndovinaFormazione_match .f5-4-1 .g3, .IndovinaFormazione_match .f5-4-1 .g4, .IndovinaFormazione_match .f5-4-1 .g5, .IndovinaFormazione_match .f5-4-1 .g6 { bottom: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g2, .IndovinaFormazione_match .f5-4-1 .g3, .IndovinaFormazione_match .f5-4-1 .g4, .IndovinaFormazione_match .f5-4-1 .g5, .IndovinaFormazione_match .f5-4-1 .g6 { /* medium */ bottom: 65px; } }
.IndovinaFormazione_match .f5-4-1 .g7, .IndovinaFormazione_match .f5-4-1 .g8, .IndovinaFormazione_match .f5-4-1 .g9, .IndovinaFormazione_match .f5-4-1 .g10 { bottom: 180px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g7, .IndovinaFormazione_match .f5-4-1 .g8, .IndovinaFormazione_match .f5-4-1 .g9, .IndovinaFormazione_match .f5-4-1 .g10 { /* medium */ bottom: 130px; } }
.IndovinaFormazione_match .f5-4-1 .g11 { bottom: 260px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g11 { /* medium */ bottom: 190px; } }
.IndovinaFormazione_match .f5-4-1 .g2 { left: 95px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g2 { /* medium */ left: 97px; } }
.IndovinaFormazione_match .f5-4-1 .g3 { left: 205px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g3 { /* medium */ left: 177px; } }
.IndovinaFormazione_match .f5-4-1 .g4 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g4 { /* medium */ left: 257px; } }
.IndovinaFormazione_match .f5-4-1 .g5 { left: 425px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g5 { /* medium */ left: 337px; } }
.IndovinaFormazione_match .f5-4-1 .g6 { left: 535px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g6 { /* medium */ left: 417px; } }
.IndovinaFormazione_match .f5-4-1 .g7 { left: 170px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g7 { /* medium */ left: 135px; } }
.IndovinaFormazione_match .f5-4-1 .g8 { left: 265px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g8 { /* medium */ left: 215px; } }
.IndovinaFormazione_match .f5-4-1 .g9 { left: 360px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g9 { /* medium */ left: 295px; } }
.IndovinaFormazione_match .f5-4-1 .g10 { left: 455px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g10 { /* medium */ left: 375px; } }
.IndovinaFormazione_match .f5-4-1 .g11 { left: 315px; }
@media (max-width: 1199px) { .IndovinaFormazione_match .f5-4-1 .g11 { /* medium */ left: 257px; } }

@media (min-width: 1200px) { .premioBig { height: 345px; }
  .premioBig .infoPunti .PuntiMancanti { font-size: 18px; }
  .boxHome h3 { font-size: 30px; }
  .widgetTextBox .box, #boxPoll .box { font-size: 36px; } }
@media (min-width: 768px) and (max-width: 979px) { /* Tablet */
  .premioBig { height: auto; }
  .premioBig .infoPunti { position: relative; }
  .boxHome { height: 285px; } }
@media (max-width: 767px) { h1 { font-size: 16px; }
  h2 { font-size: 14px; }
  h3 { font-size: 12px; }
  .premioBig { height: auto; }
  .premioBig .infoPunti { position: relative; } }
/* INDOVINA RISULTATO */
#IndovinaRisultato { position: relative; background: url(img/giochi/bg-indovina-risultato.jpg) center center no-repeat; height: 490px; }
#IndovinaRisultato .LogoSx, #IndovinaRisultato .LogoDx { padding-top: 80px; text-align: center; }
#IndovinaRisultato .LogoSx .img-responsive, #IndovinaRisultato .LogoDx .img-responsive { margin: 0 auto; max-height: 230px; }
#IndovinaRisultato .LogoSx h3, #IndovinaRisultato .LogoDx h3 { font-size: 32px; text-transform: uppercase; }
#IndovinaRisultato .LogoSx { margin-left: 25px; }
#IndovinaRisultato .LogoDx { margin-right: 25px; }
#IndovinaRisultato .Goal { text-align: center; padding-top: 80px; }
#IndovinaRisultato .Goal i { display: block; background: url(img/giochi/box_goal.png) no-repeat; background-size: cover; width: 158px; height: 163px; margin: 0 auto; color: #FFFFFF; font-size: 80px; font-style: normal; line-height: 128px; }
#IndovinaRisultato .Goal a.up, #IndovinaRisultato .Goal a.down { display: block; height: 26px; background: url(img/giochi/arrows_selection.png) no-repeat; }
#IndovinaRisultato .Goal a.up.disable, #IndovinaRisultato .Goal a.down.disable { visibility: hidden; cursor: default; }
#IndovinaRisultato .Goal a.up { background-position: center top; margin-bottom: 20px; }
#IndovinaRisultato .Goal a.down { background-position: center bottom; }

.IndovinaRisultato_match { background: url(img/giochi/bg-indovina-risultato.jpg) center top no-repeat; background-size: cover; position: relative; height: 440px; }
.IndovinaRisultato_match .boxOverlay { position: absolute; background-color: rgba(0, 0, 0, 0.65); font-size: 24px; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; color: #FFF; }
.IndovinaRisultato_match .boxOverlay > span { display: block; text-align: center; margin-top: 210px; }
.IndovinaRisultato_match .boxSquadra { width: 70%; margin: 78px auto 0; text-align: center; }
.IndovinaRisultato_match .boxSquadra img { max-height: 200px; }
.IndovinaRisultato_match .boxSquadra h3 { margin-top: 15px; text-align: center; }

/* FINE INDOVINA RISULTATO */
/* INDOVINA PRIMO MARCATORE */
#IM_modify-btn { float: right; margin-top: 10px; }

#IM_vs { position: absolute; right: 0; top: 24px; display: block; right: 0; background-color: #f2f2f2; padding: 8px 16px; text-transform: uppercase; }
#IM_vs b, #IM_vs span { display: inline-block; vertical-align: middle; padding: 0 4px; }
#IM_vs b { color: #e41a12; font-size: 24px; }
#IM_vs span { font-size: 18px; line-height: 24px; height: 24px; color: #bdbdbd; }

#IndovinaPrimoMarcatore { position: relative; background: url(img/giochi/bg-indovina-marcatore.jpg) center top no-repeat; height: 650px; }
#IndovinaPrimoMarcatore .IM_Player { display: block; max-width: 220px; height: 220px; overflow: hidden; margin: 0 auto; position: relative; transition: .35s linear all; }
#IndovinaPrimoMarcatore .IM_Player:hover, #IndovinaPrimoMarcatore .IM_Player.selected { transform: scale(1.1); -webkit-transform: scale(1.1); }
#IndovinaPrimoMarcatore .IM_Player.selected, #IndovinaPrimoMarcatore .IM_Player.unselected { cursor: default; }
#IndovinaPrimoMarcatore .IM_Player.unselected { transform: scale(0.85); -webkit-transform: scale(0.85); opacity: .50; }
#IndovinaPrimoMarcatore .IM_Player.disable:hover { transform: scale(1); -webkit-transform: scale(1); cursor: default; }
#IndovinaPrimoMarcatore .IM_Player.no-player img { max-width: 200px; }
#IndovinaPrimoMarcatore .IM_Player img { max-height: 210px; margin: 0 auto; display: block; }

.IndovinaPrimoMarcatore_match { background: url(img/giochi/bg-indovina-marcatore.jpg) center top no-repeat; background-size: cover; position: relative; height: 440px; }
.IndovinaPrimoMarcatore_match .boxOverlay { position: absolute; background-color: rgba(0, 0, 0, 0.65); font-size: 24px; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; color: #FFF; }
.IndovinaPrimoMarcatore_match .boxOverlay > span { display: block; text-align: center; margin-top: 210px; }
.IndovinaPrimoMarcatore_match .Marcatore { position: absolute; width: 60%; top: 20px; left: 20%; }
.IndovinaPrimoMarcatore_match .Marcatore img { width: 100%; }
.IndovinaPrimoMarcatore_match .Marcatore.NoMarcatore { top: 80px; text-align: center; }
.IndovinaPrimoMarcatore_match .Marcatore.NoMarcatore img { width: auto; }

#IndovinaPrimoMarcatore .IM_Player > span, .IndovinaPrimoMarcatore_match .Marcatore > span { position: absolute; bottom: 0; width: 90%; left: 5%; text-align: center; display: block; color: #FFF; background-color: #e41a12; border: 4px solid #FFF; border-radius: 30px; padding: 6px 0; font-size: 16px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset; }

/* FINE INDOVINA PRIMO MARCATORE */
@media (min-width: 0px) and (max-width: 1199px) { .container { width: 940px !important; }
  .boxHome { height: 285px; } }
