html,body{
	margin: 0;
	padding: 0;
}
body{
	background-color:#FFF;
	color: #444;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding: 45px 5%;
}
.justify{
	text-align: justify;
}
h3{
	display: block;
	font-size:1.3em;
}