<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Xtra Card</title>
<style type="text/css">
html,body{
	margin: 0;
	padding:0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 13px;
}
</style>
</head>

<body bgcolor="#e6d2c7" alink="#0099FF" link="#0099FF" vlink="#0099FF" topmargin="0" leftmargin="0">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr><td height="100">&nbsp;</td></tr>
	<tr>
    	<td align="center">
        	
            <table width="600" cellpadding="0" cellspacing="0" border="0">
            	<tr>
                	<td align="right" height="50"><a style="font-size: 11px;" href="http://www.xtracard.it" target="_blank">www.xtracard.it</a></td>
                </tr>
            	<tr><td><img src="http://www.xtracard.it/_ext/themes/default/email/img/top1.jpg"></td></tr>
                <tr><td>
                	{{corpomail}}
                </td></tr>
                <tr><td><img src="http://www.xtracard.it/_ext/themes/default/email/img/bottom1.png"></td></tr>
            </table>
            
        </td>
    </tr>
	<tr><td height="100">&nbsp;</td></tr>
</table>
</body>
</html>