.IF_ora, .IF_Title > span{
	display: inline-block;
	color: #FFF;
	border-radius: 20px;
	background-color: $oro;
}
.IF_ora{
	font-size: 16px;
	margin: 5px 0 0 20px;
	vertical-align: text-top;
	padding: 6px 12px;
}
.IF_Title{
	display: block;
	text-align: center;
	> span{
		margin: 0 auto;
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		padding: 6px 20px;	
	}
}
#IndovinaFormazione, .IndovinaFormazione_match{
	.MainBanner{
		position: absolute;
		top: 28px;
		left: 50%;
		margin-left: -213px;
		width: 425px;
		height: 178px;
		display: block;
		z-index: 10;
		
		> img{
			width: 100%;
			height: 100%;
		}
		
		@media (min-width: 980px) and (max-width: 1199px) { /* medium */
			width: 340px;
			height: 144px;
			top: 21px;
			margin-left: -170px;
		}
		
		@media (max-width: 979px){
			width: 100%;
			height: 144px;
		}
	}
	.Campo{
		display: block;
		position: relative;
		background: url(img/indovina-formazione/campo.jpg) center top no-repeat;
		background-size: contain;
		height: 1006px;
		@media (max-width: 1199px) { /* medium */
			height: 804px;
		}
	}
	
	#boxPlayersOverlay{
		position: absolute;
		display: none;
		background-color: rgba(0,0,0,.75);
		top:0;
		left:15px;
		width: 97.5%;
		height: 100%;
		z-index: 100;
	}
	.boxOverlay{
		position: absolute;
		background-color:rgba(0,0,0,.65);
		font-size: 24px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		color:#FFF;
		> span{
			display: block;
			text-align: center;
			margin-top: 240px;
		}
	}
	
	#boxPlayers{
		z-index: 101;
		position: absolute;
		display: none;
		max-height:600px;
		left: 50%;
		padding: 20px;
		width: 800px;
		margin-left: -420px;
		z-index: 100;
		background: url(img/indovina-formazione/box_players_bg.png) repeat;
		border-radius: 10px;
		box-shadow: 0 5px 15px rgba(0,0,0,.25);
		color: #FFF;
		border: 2px solid rgba(255,255,255,.75);
		
		.PlayerBtn{
			margin-bottom: 10px;
			text-align: center;
			height: 180px;
			overflow: hidden;
			text-transform: uppercase;
			position: relative;
			
			img, span{
				max-width: 160px;
			}
			img{
				display: block;
			}
			span{
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				display: block;
				color: #FFF;
				transition: .25s ease-in all;
			}
			&:hover span{
				color: $oro;	
			}
		}
	}
	
	#ScegliFormazione{
		position: absolute;
		width: 234px;
		height: 251px;
		background: url(img/indovina-formazione/box_formazione.png) no-repeat;
		top: 33px;
		left: 42px;	
		color: #FFFFFF;
		/*font-family: $fontStd;*/
		font-family: $helvetica;
		font-size: 16px;
		
		@media (max-width: 1199px) { /* medium */
			top: 18px;
			left: 15px;
		}
		
		.pad{
			padding: 15px;
		}
		
		.hr{
			display: block;
			height: 2px;
			margin: 0;
			border: none;
			padding: 0;
			background: url(img/indovina-formazione/divider.png) center center repeat;
		}
		
		.formazione_panel{
			width: 100%;
			position: relative;
        	.formazione_btn_left, .formazione_btn_right{
				position: absolute;
				top: 12px;
				width: 35px;
				height: 35px;
				background: url(img/indovina-formazione/arrows_formazione.png) no-repeat;
				transition: none;
			}
			.formazione_btn_left{
				background-position: top left;
				left: 0;
				&:hover{
					background-position: bottom left;
				}
			}
			.formazione_btn_right{
				background-position: top right;
				right: 0;
				&:hover{
					background-position: bottom right;
				}
			}
            .formazioni{
				position: relative;
				width: 135px;
				height: 50px;
				margin: 0 0 0 35px;
				padding: 0;
				overflow: hidden;
				
				> ul{
					position: absolute;
					padding: 0;
					margin: 0;
					width: 100000px;
					display: block;
					left: -135px;
					text-shadow: 0 1px 3px rgba(0,0,0,.75);
					font-size: 40px;
				
					> li{
						text-align:center;
						width: 135px;
						list-style: none;
						display: inline-block;
						padding: 0;
						margin: 0;
					}
				}
			}
		}
		.conferma{
			margin: 10px auto 0 auto;
			display: block;
			color: #FFF;
			text-transform: uppercase;
			border: none;
			background: url(img/indovina-formazione/btn_formazione.png) center top no-repeat;
			width: 202px;
			height: 40px;
			
			&:hover{
				background-position: center bottom;
			}
		}
		
		.annulla{
			position: absolute;
			right: 18px;
			bottom: 4px;
			text-transform: lowercase;
			color: white;
			font-size: 12px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	$gf_width_player: 185px;
	$gf_center_x: 570px;
	$gf_center_x-md: 455px;
	
	.Player{
		position: absolute;
		display: block;
		background: url(img/indovina-formazione/player_shadow.png) center bottom no-repeat;
		/*border: 1px solid red;*/
		width: $gf_width_player;
		overflow: hidden;
		margin-left: -93px;
		text-align: center;
		
		$background-span: url(img/indovina-formazione/btn_grad.png) center bottom repeat-x #ff0000;
		$border-span: 3px solid white;
		
		img{
			display: block;
			margin: -10px auto 20px auto;
			max-width: 160px;
			@media (max-width: 1199px) { /* medium */
				margin-top: -10px;
			}
		}
		span{
			position: absolute;
			display: block;
			width: 80%;
			left: 10%;
			bottom: 0px;
			
			color: #FFF;
			text-transform: uppercase;
			font-size: 18px;
			text-align:center;
			background: $background-span;
			border: $border-span;
			padding: 5px 0px;
			border-radius: 22px;
			min-width: 80px;
			box-shadow: 0 0 8px rgba(0,0,0,.5) inset;
			transition: .15s all ease-in;
			
			@media (max-width: 1199px) { /* medium */
				font-size: 16px;
				width: 70%;
				left: 15%;
			}
		}
		
		> a:hover{
			cursor: default;
			&.enable{
				cursor: pointer;
				span{
					background-image:none;
					background-color:#ff0000;
					border: 3px solid $oro;
				}
			}
		}
	}
	
	.Portiere{
		bottom: 20px;
		left: $gf_center_x;
		@media (max-width: 1199px) { /* medium */
			bottom: 15px;
			left: $gf_center_x-md;
		}
	}
	
	$gf_bottom_difesa: 175px;
	$gf_bottom_centrocampo: 330px;
	$gf_bottom_attacco: 485px;
	
	$gf_bottom_difesa-md: 145px;
	$gf_bottom_centrocampo-md: 275px;
	$gf_bottom_attacco-md: 390px;
	
	.Portiere{ z-index: 11; }
	.g2{ z-index: 10; }
	.g3{ z-index: 9; }
	.g4{ z-index: 8; }
	.g5{ z-index: 7; }
	.g6{ z-index: 6; }
	.g7{ z-index: 5; }
	.g8{ z-index: 4; }
	.g9{ z-index: 3; }
	.g10{ z-index: 2; }
	.g11{ z-index: 1; }
	
	.f3-4-3{
		.g2, .g3, .g4{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g5, .g6, .g7, .g8{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g9, .g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 370px;
			@media (max-width: 1199px) { /* medium */
				left: 255px;
			}
		}
		.g3{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g4{
			left: 775px;
			@media (max-width: 1199px) { /* medium */
				left: 660px;
			}
		}
		/* CENTROCAMPO */
		.g5{
			left: 285px;
			@media (max-width: 1199px) { /* medium */
				left: 170px;
			}
		}
		.g6{
			left: 285+($gf_width_player+5);
			@media (max-width: 1199px) { /* medium */
				left: 170+($gf_width_player+5);
			}
		}
		.g7{
			left: 285+(($gf_width_player+5)*2);
			@media (max-width: 1199px) { /* medium */
				left: 170+(($gf_width_player+5)*2);
			}
		}
		.g8{
			left: 285+(($gf_width_player+5)*3);
			@media (max-width: 1199px) { /* medium */
				left: 170+(($gf_width_player+5)*3);
			}
		}
		/* ATTACCO */
		.g9{
			left: 380px;
			@media (max-width: 1199px) { /* medium */
				left: 265px;
			}
		}
		.g10{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g11{
			left: $gf_center_x+$gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player;
			}
		}
	}
	.f3-5-2{
		.g2, .g3, .g4{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g5, .g6, .g7, .g8, .g9{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 370px;
			@media (max-width: 1199px) { /* medium */
				left: 255px;
			}
		}
		.g3{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g4{
			left: 775px;
			@media (max-width: 1199px) { /* medium */
				left: 660px;
			}
		}
		/* CENTROCAMPO */
		.g5{
			left: 200px;
			@media (max-width: 1199px) { /* medium */
				left: 85px;
			}
		}
		.g6{
			left: 200px+($gf_width_player);
			@media (max-width: 1199px) { /* medium */
				left: 85px + $gf_width_player;
			}
		}
		.g7{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g8{
			left: $gf_center_x+( ($gf_width_player+5)*1 );
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + ( ($gf_width_player+5)*1 );
			}
		}
		.g9{
			left: $gf_center_x+( ($gf_width_player+5)*2 );
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + ( ($gf_width_player+5)*2 );
			}
		}
		/* ATTACCO */
		.g10{
			left: 480px;
			@media (max-width: 1199px) { /* medium */
				left: 365px;
			}
		}
		.g11{
			left: 480px+$gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: 365px + ($gf_width_player+5);
			}
		}
	}
	.f4-4-2{
		.g2, .g3, .g4, .g5{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g6, .g7, .g8, .g9{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 228px;
			@media (max-width: 1199px) { /* medium */
				left: 182px;
			}
		}
		.g3{
			left: 228px*2;
			@media (max-width: 1199px) { /* medium */
				left: 182px*2;
			}
		}
		.g4{
			left: 228px*3;
			@media (max-width: 1199px) { /* medium */
				left: 182px*3;
			}
		}
		.g5{
			left: 228px*4;
			@media (max-width: 1199px) { /* medium */
				left: 182px*4;
			}
		}
		/* CENTROCAMPO */
		.g6{
			left: 300px;
			@media (max-width: 1199px) { /* medium */
				left: 200px;
			}
		}
		.g7{
			left: 480px;
			@media (max-width: 1199px) { /* medium */
				left: 200px + $gf_width_player;
			}
		}
		.g8{
			left: 660px;
			@media (max-width: 1199px) { /* medium */
				left: 200px + ($gf_width_player*2);
			}
		}
		.g9{
			left: 840px;
			@media (max-width: 1199px) { /* medium */
				left: 200px + ($gf_width_player*3);
			}
		}
		/* ATTACCO */
		.g10{
			left: 480px;
			@media (max-width: 1199px) { /* medium */
				left: 365px;
			}
		}
		.g11{
			left: 480px+$gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: 365px + ($gf_width_player + 5);
			}
		}
	}
	.f4-3-3{
		.g2, .g3, .g4, .g5{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g6, .g7, .g8{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g9, .g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 228px;
			@media (max-width: 1199px) { /* medium */
				left: 182px;
			}
		}
		.g3{
			left: 228px*2;
			@media (max-width: 1199px) { /* medium */
				left: 182px*2;
			}
		}
		.g4{
			left: 228px*3;
			@media (max-width: 1199px) { /* medium */
				left: 182px*3;
			}
		}
		.g5{
			left: 228px*4;
			@media (max-width: 1199px) { /* medium */
				left: 182px*4;
			}
		}
		/* CENTROCAMPO */
		.g6{
			left: 360px;
			@media (max-width: 1199px) { /* medium */
				left: 260px;
			}
		}
		.g7{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g8{
			left: 790px;
			@media (max-width: 1199px) { /* medium */
				left: 660px;
			}
		}
		/* ATTACCO */
		.g9{
			left: 400px;
			@media (max-width: 1199px) { /* medium */
				left: 280px;
			}
		}
		.g10{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g11{
			left: 760px;
			@media (max-width: 1199px) { /* medium */
				left: 630px;
			}
		}
	}
	.f4-5-1{
		.g2, .g3, .g4, .g5{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g6, .g7, .g8, .g9, .g10{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 228px;
			@media (max-width: 1199px) { /* medium */
				left: 182px;
			}
		}
		.g3{
			left: 228px*2;
			@media (max-width: 1199px) { /* medium */
				left: 182px*2;
			}
		}
		.g4{
			left: 228px*3;
			@media (max-width: 1199px) { /* medium */
				left: 182px*3;
			}
		}
		.g5{
			left: 228px*4;
			@media (max-width: 1199px) { /* medium */
				left: 182px*4;
			}
		}
		/* CENTROCAMPO */
		.g6{
			left: 210px;
			@media (max-width: 1199px) { /* medium */
				left: 85px;
			}
		}
		.g7{
			left: 390px;
			@media (max-width: 1199px) { /* medium */
				left: 85px + $gf_width_player;
			}
		}
		.g8{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g9{
			left: 750px;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player;
			}
		}
		.g10{
			left: 930px;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + ($gf_width_player*2);
			}
		}
		/* ATTACCO */
		.g11{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
	}
	.f5-3-2{
		.g2, .g3, .g4, .g5, .g6{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g7, .g8, .g9{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 180px;
			@media (max-width: 1199px) { /* medium */
				left: 95px;
			}
		}
		.g3{
			left: 370px;
			@media (max-width: 1199px) { /* medium */
				left: 95px + $gf_width_player;
			}
		}
		.g4{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g5{
			left: 770px;
			@media (max-width: 1199px) { /* medium */
				left: ($gf_center_x-md + $gf_width_player);
			}
		}
		.g6{
			left: 960px;
			@media (max-width: 1199px) { /* medium */
				left: ($gf_center_x-md + ( $gf_width_player*2 ));
			}
		}
		/* CENTROCAMPO */
		.g7{
			left: 360px;
			@media (max-width: 1199px) { /* medium */
				left: 260px;
			}
		}
		.g8{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g9{
			left: 790px;
			@media (max-width: 1199px) { /* medium */
				left: 660px;
			}
		}
		/* ATTACCO */
		.g10{
			left: 480px;
			@media (max-width: 1199px) { /* medium */
				left: 365px;
			}
		}
		.g11{
			left: 480px+$gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: 365px + $gf_width_player;
			}
		}
	}
	.f5-4-1{
		.g2, .g3, .g4, .g5, .g6{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g7, .g8, .g9, .g10{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 180px;
			@media (max-width: 1199px) { /* medium */
				left: 95px;
			}
		}
		.g3{
			left: 370px;
			@media (max-width: 1199px) { /* medium */
				left: 95px + $gf_width_player;
			}
		}
		.g4{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g5{
			left: 770px;
			@media (max-width: 1199px) { /* medium */
				left: ($gf_center_x-md + $gf_width_player);
			}
		}
		.g6{
			left: 960px;
			@media (max-width: 1199px) { /* medium */
				left: ($gf_center_x-md + ( $gf_width_player*2 ));
			}
		}
		/* CENTROCAMPO */
		.g7{
			left: 300px;
			@media (max-width: 1199px) { /* medium */
				left: 200px;
			}
		}
		.g8{
			left: 480px;
			@media (max-width: 1199px) { /* medium */
				left: 200px + $gf_width_player;
			}
		}
		.g9{
			left: 660px;
			@media (max-width: 1199px) { /* medium */
				left: 200px + ($gf_width_player*2);
			}
		}
		.g10{
			left: 840px;
			@media (max-width: 1199px) { /* medium */
				left: 200px + ($gf_width_player*3);
			}
		}
		/* ATTACCO */
		.g11{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
	}
}
#IndovinaFormazione-OpenClassifica-btn{
	$bg: url(img/indovina-formazione/classifica/button.png) top center no-repeat;
	
	position: absolute;
	right: 15px;
	top: 36px;
	width: 130px;
	height: 130px;
	background: $bg;
	
	.glyphicon{
		font-size: .65em;
		display: inline-block;
		margin-left: 5px;
	}
	
	.std, .hover{
		display: block;
		width: 100%;
		height: 100%;
		background: $bg;
		position: absolute;
		top: 0;
		left: 0;
		transition: .35s all ease-in;
	}
	
	.hover{
		opacity: 0;
		background-position: bottom center;
	}
	
	&:hover{
		.std{
			opacity: 0;	
		}
		.hover{
			opacity: 1;	
		}
	}
}
#IndovinaFormazione-Classifica{
	display: none;
	.Title{
		display: block;
		text-align: center;
		margin-bottom: 12px;
		> div{
			display:inline-block;
			padding: .15em 2em;
			font-size: 24px;
			font-weight: 100;
			color: #FFF;
			background-color: $oro;
			border-radius: 20px;
		}
	}
	.table{
		margin-top: 25px;
		.Avatar{
			vertical-align: middle;
			width: 40px;
			display: inline-block;
			margin-right: 10px;
		}
		th{
			background-color: $viola80;
			font-weight: normal;
			color: $white;
		}
		&.table-striped > tbody > tr:nth-child(odd) > td{
			background-color: $viola_light;
		}
		th, td{
			vertical-align: middle;
		}
	}
}

.IndovinaFormazione_match, .IndovinaPrimoMarcatore_match, .IndovinaRisultato_match{
  .StripeWinner{
    position: absolute;
    top: 30px;
    width:396px;
    height:87px;
    left: 50%;
    z-index: 100;
    margin-left: 94px;
    background: url(img/indovina-formazione/stripe_winner.png) no-repeat;
    color: #FFF;
    text-align: center;
    > span{
      display: block;
      height: 50px;
      margin: 2px 60px 0;
    }
    &.Win{
      font-size: 20px;
      padding-top: 12px;
    }
    &.Lose{
      font-size: 16px;
      padding-top: 2px;
    }
  }
}

.IndovinaFormazione_match{
	position: relative;
	$gf_width_player: 110px;
	$gf_width_player_mini: 80px;
	
	&.Giocata .BoxFormazione{
		left: 15px;
	}
	&.Effettiva .BoxFormazione{
		right: 15px;
	}

	.BoxFormazione{
		position: absolute;
		top: 35px;
		width: 134px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		display: block;
		text-shadow: 0 1px 3px rgba(0,0,0,.75);
		font-size: 24px;
		color: #FFF;
		background:url(img/indovina-formazione/box_formazione-mini.png) center center no-repeat;
	}
	
	.MainBanner{
		top: 14px;
		width: 206px;
		height: 87px;
		margin-left: -104px;
		@media (max-width: 1199px) { /* medium */
			top: 10px;
			width: 164px;
			margin-left: -82px;
			height: 70px;
		}
	}
	
	.Campo{
		height: 492px !important;
		@media (max-width: 1199px) { /* medium */
			height: 388px !important;
		}
	}
	
	.Player{
		background-image: none;		
		max-width: $gf_width_player;
		overflow: visible;
		
		@media (max-width: 1199px) { /* medium */
			height: 60px;
		}
		
		img{
			width: 100%;
			@media (max-width: 1199px) { /* medium */
				display: none;
			}
		}
		span{
			font-size: 14px;
			border: 2px solid #FFF;
			padding: 3px 6px;
			@media (max-width: 1199px) { /* medium */
				font-size: 13px;
			}
		}
	}
	
	/*pv: prevMatch */
	$gf_center_x: 315px;
	$gf_center_x-md: 257px;
	
	.Portiere{
		bottom: 10px;
		left: $gf_center_x;
		@media (max-width: 1199px) { /* medium */
			bottom: 10px;
			left: $gf_center_x-md;
		}
	}
	
	$gf_bottom_difesa: 95px;
	$gf_bottom_centrocampo: 180px;
	$gf_bottom_attacco: 260px;
	
	$gf_bottom_difesa-md: 65px;
	$gf_bottom_centrocampo-md: 130px;
	$gf_bottom_attacco-md: 190px;
	
	.Portiere{ z-index: 11; }
	.g2{ z-index: 10; }
	.g3{ z-index: 9; }
	.g4{ z-index: 8; }
	.g5{ z-index: 7; }
	.g6{ z-index: 6; }
	.g7{ z-index: 5; }
	.g8{ z-index: 4; }
	.g9{ z-index: 3; }
	.g10{ z-index: 2; }
	.g11{ z-index: 1; }
	
	.f3-4-3{
		.g2, .g3, .g4{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g5, .g6, .g7, .g8{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g9, .g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 170px;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player;
			}
		}
		.g3{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g4{
			left: 470px;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player;
			}
		}
		/* CENTROCAMPO */
		.g5{
			left: 150px;
			@media (max-width: 1199px) { /* medium */
				left: 135px;
			}
		}
		.g6{
			left: 150+($gf_width_player);
			@media (max-width: 1199px) { /* medium */
				left: 135px+($gf_width_player_mini);
			}
		}
		.g7{
			left: 150+($gf_width_player*2);
			@media (max-width: 1199px) { /* medium */
				left: 135px+($gf_width_player_mini*2);
			}
		}
		.g8{
			left: 150+($gf_width_player*3);
			@media (max-width: 1199px) { /* medium */
				left: 135px+($gf_width_player_mini*3);
			}
		}
		/* ATTACCO */
		.g9{
			left: $gf_center_x - $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player_mini;
			}
		}
		.g10{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g11{
			left: $gf_center_x+$gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player_mini;
			}
		}
	}
	.f3-5-2{
		.g2, .g3, .g4{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g5, .g6, .g7, .g8, .g9{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: $gf_center_x - $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player;
			}
		}
		.g3{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g4{
			left: $gf_center_x + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player;
			}
		}
		/* CENTROCAMPO */
		.g5{
			left: $gf_center_x - $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - ($gf_width_player_mini*2);
			}
		}
		.g6{
			left: $gf_center_x - $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player_mini;
			}
		}
		.g7{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g8{
			left: $gf_center_x + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player_mini;
			}
		}
		.g9{
			left: $gf_center_x + $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + ($gf_width_player_mini*2);
			}
		}
		/* ATTACCO */
		.g10{
			left: 260px;
			@media (max-width: 1199px) { /* medium */
				left: 200px;
			}
		}
		.g11{
			left: 372px;
			@media (max-width: 1199px) { /* medium */
				left: 310px;
			}
		}
	}
	.f4-4-2{
		.g2, .g3, .g4, .g5{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g6, .g7, .g8, .g9{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 150px;
			@media (max-width: 1199px) { /* medium */
				left: 90px;
			}
		}
		.g3{
			left: 150px + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: 90px + $gf_width_player;
			}
		}
		.g4{
			left: 150px + $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: 90px + $gf_width_player*2;
			}
		}
		.g5{
			left: 150px + $gf_width_player*3;
			@media (max-width: 1199px) { /* medium */
				left: 90px + $gf_width_player*3;
			}
		}
		/* CENTROCAMPO */
		.g6{
			left: 170px;
			@media (max-width: 1199px) { /* medium */
				left: 135px;
			}
		}
		.g7{
			left: 170px + $gf_width_player - 15;
			@media (max-width: 1199px) { /* medium */
				left: 135px + ($gf_width_player - 30);
			}
		}
		.g8{
			left: 170px + ($gf_width_player - 15)*2;
			@media (max-width: 1199px) { /* medium */
				left: 135px + ($gf_width_player - 30)*2;
			}
		}
		.g9{
			left: 170px + ($gf_width_player - 15)*3;
			@media (max-width: 1199px) { /* medium */
				left: 135px + ($gf_width_player - 30)*3;
			}
		}
		/* ATTACCO */
		.g10{
			left: 260px;
			@media (max-width: 1199px) { /* medium */
				left: 200px;
			}
		}
		.g11{
			left: 372px;
			@media (max-width: 1199px) { /* medium */
				left: 310px;
			}
		}
	}
	.f4-3-3{
		.g2, .g3, .g4, .g5{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g6, .g7, .g8{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g9, .g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 150px;
			@media (max-width: 1199px) { /* medium */
				left: 90px;
			}
		}
		.g3{
			left: 150px + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: 90px + $gf_width_player;
			}
		}
		.g4{
			left: 150px + $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: 90px + $gf_width_player*2;
			}
		}
		.g5{
			left: 150px + $gf_width_player*3;
			@media (max-width: 1199px) { /* medium */
				left: 90px + $gf_width_player*3;
			}
		}
		/* CENTROCAMPO */
		.g6{
			left: $gf_center_x - $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player;
			}
		}
		.g7{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g8{
			left: $gf_center_x + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player;
			}
		}
		/* ATTACCO */
		.g9{
			left: $gf_center_x - ($gf_width_player - 15);
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - ($gf_width_player - 30);
			}
		}
		.g10{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g11{
			left: $gf_center_x + ($gf_width_player - 15);
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + ($gf_width_player - 30);
			}
		}
	}
	.f4-5-1{
		.g2, .g3, .g4, .g5{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g6, .g7, .g8, .g9, .g10{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: 150px;
			@media (max-width: 1199px) { /* medium */
				left: 90px;
			}
		}
		.g3{
			left: 150px + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: 90px + $gf_width_player;
			}
		}
		.g4{
			left: 150px + $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: 90px + $gf_width_player*2;
			}
		}
		.g5{
			left: 150px + $gf_width_player*3;
			@media (max-width: 1199px) { /* medium */
				left: 90px + $gf_width_player*3;
			}
		}
		/* CENTROCAMPO */
		.g6{
			left: $gf_center_x - $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - ($gf_width_player_mini*2);
			}
		}
		.g7{
			left: $gf_center_x - $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player_mini;
			}
		}
		.g8{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g9{
			left: $gf_center_x + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player_mini;
			}
		}
		.g10{
			left: $gf_center_x + $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + ($gf_width_player_mini*2);
			}
		}
		/* ATTACCO */
		.g11{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
	}
	.f5-3-2{
		.g2, .g3, .g4, .g5, .g6{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g7, .g8, .g9{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g10, .g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: $gf_center_x - $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player_mini*2;
			}
		}
		.g3{
			left: $gf_center_x - $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player_mini;
			}
		}
		.g4{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g5{
			left: $gf_center_x + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player_mini;
			}
		}
		.g6{
			left: $gf_center_x + $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player_mini*2;
			}
		}
		/* CENTROCAMPO */
		.g7{
			left: $gf_center_x - $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player;
			}
		}
		.g8{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g9{
			left: $gf_center_x + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player;
			}
		}
		/* ATTACCO */
		.g10{
			left: 260px;
			@media (max-width: 1199px) { /* medium */
				left: 200px;
			}
		}
		.g11{
			left: 372px;
			@media (max-width: 1199px) { /* medium */
				left: 310px;
			}
		}
	}
	.f5-4-1{
		.g2, .g3, .g4, .g5, .g6{
			bottom: $gf_bottom_difesa;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_difesa-md;
			}
		}
		.g7, .g8, .g9, .g10{
			bottom: $gf_bottom_centrocampo;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_centrocampo-md;
			}
		}
		.g11{
			bottom: $gf_bottom_attacco;
			@media (max-width: 1199px) { /* medium */
				bottom: $gf_bottom_attacco-md;
			}
		}
		/* DIFESA */
		.g2{
			left: $gf_center_x - $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player_mini*2;
			}
		}
		.g3{
			left: $gf_center_x - $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md - $gf_width_player_mini;
			}
		}
		.g4{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
		.g5{
			left: $gf_center_x + $gf_width_player;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player_mini;
			}
		}
		.g6{
			left: $gf_center_x + $gf_width_player*2;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md + $gf_width_player_mini*2;
			}
		}
		/* CENTROCAMPO */
		.g7{
			left: 170px;
			@media (max-width: 1199px) { /* medium */
				left: 135px;
			}
		}
		.g8{
			left: 170px + $gf_width_player - 15;
			@media (max-width: 1199px) { /* medium */
				left: 135px + ($gf_width_player - 30);
			}
		}
		.g9{
			left: 170px + ($gf_width_player - 15)*2;
			@media (max-width: 1199px) { /* medium */
				left: 135px + ($gf_width_player - 30)*2;
			}
		}
		.g10{
			left: 170px + ($gf_width_player - 15)*3;
			@media (max-width: 1199px) { /* medium */
				left: 135px + ($gf_width_player - 30)*3;
			}
		}
		/* ATTACCO */
		.g11{
			left: $gf_center_x;
			@media (max-width: 1199px) { /* medium */
				left: $gf_center_x-md;
			}
		}
	}	
}

