html,body{
	width: 100%;
	height: 100%;
}
body {
	background-color: #3a3e40;
	/*background-image: url(../img/bg.png);*/
}
#Main{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
#Login{
	position: absolute;
	left: 50%;
	width: 350px;
	top: 50%;
	height: 200px;
	margin: -200px 0 0 -160px;
}
#Login input{
	display: block;
}
#Login input, .inputBtn{
	background-color: #FFF;
	border: none;
	border-radius: 4px;
	width: 280px;
	padding: 6px;
	color: #333;
}
.inputBtn{
	display: inline-block;
	text-align: center;
	color: #FFF;
	text-decoration:none;
	background-color: #008dd3;
	text-shadow: 1px 1px 2px #004a6f;
	transition: all .5s;
}
a.inputBtn:hover{
	text-decoration: none;
	text-shadow: 1px 1px 2px #004a6f;
	color: #FFF;
	background-color: #006fa6;
}
.block{
	display: block;
}
#Loader{
	margin-left: 10px;
	display: none;
}
#msg{
	font-size: 13px;
	text-align: center;
	color:#FFF;
}
#Logo{
}
.hide{
	display: none;
}