@charset "UTF-8";
html,body{
	width: 100%;
	height: 100%;
}
body {
	/*background-color: #3a3e40;
	background-image: url(../img/bg.png);*/
	background: #fff;
}
.block{
	display: block;
}
.textLittle{
	font-size: 11px;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.center{
	text-align: center;
}
.justify{
	text-align:justify;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.cl{
	clear:left;
}
.cr{
	clear:right;
}
.cb{
	clear:both;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 57px;
	background: url(../img/top_bg.png) repeat-x;
	z-index: 3;
}
#Left{
	z-index: 1;
	position: fixed;
	background-color: #3b3e40;
	top: 57px;
	min-height: 100%;
	height: 100%;
	width: 200px;
}
#Main {
	z-index: 2;
	position: absolute;
	background-color: #FFF;
	/*box-shadow: 0 0 15px #000;*/
	left: 200px;
	top: 57px;
}
#MainCont{
	padding: 10px;
}
#Logo{
	position: absolute;
	top: 7px;
	left: 20px;
	height: 45px;
}
ul#Menu{
	margin: 0;
	padding: 0;
}
ul#Menu li{
	margin: 0;
	padding: 0;
	display: block;
	border-top: 1px solid #46494b;
	border-bottom: 1px solid #27292a;
}
ul#Menu li a{
	color: #FFF;
	padding: 10px 4px;
	display: block;
	transition: all .5s;
	-webkit-transition: all .5s;
}
ul#Menu li a:hover{
	text-decoration: none;
	background-color: #138dd6;
}
ul#Menu li a.fired{
	background: url(../img/menu_active.png) left bottom repeat-x #138dd6;
}
.Loader1{
	display: none;
	background:url(../img/loader.gif) center center no-repeat;
	height: 60px;
	width: 100%;
}

tr.Clickable{
	cursor: pointer;
}
a.order{
	padding: 4px 8px;
	padding-right: 15px;
	border-radius: 6px;
	text-decoration: none;
	display: block;
	background-color: #fff;
	transition: background-color .5s;
	-webkit-transition: background-color .5s;
}
a.order:hover{
	background-color: #f4f4f4;
}
a.orderAsc{
	background:url(../img/order/asc.png) right center no-repeat #f4f4f4;
}
a.orderDesc{
	background:url(../img/order/desc.png) right center no-repeat;
}
#Overlay{
	display: none;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
}
.Overlay_whitenoise{
	background: url(../img/overlay_white_noise.png) repeat;
}
#OverlayLoader{
	display: none;
	position: absolute;
	z-index: 1000001;
	/*background: url(../img/black/85.png) repeat;*/
	text-transform: uppercase;
	background: #000;
	opacity: .85;
	border-radius: 8px;
	box-shadow: 0 0 7px #333;
	padding: 18px;
	color: #FFF;
}
ul.errorList{
	margin: 0;
}
ul.errorList li{
	font-weight: bold;
	color: #cc433c;
	list-style-position: inside;
}
ul#headerButtons{
	margin: 0 0 0 0;
	padding: 0;
	height: 100%;
	position: absolute;
	right: 10px;
}
ul#headerButtons li{
	height: 100%;
	vertical-align: middle;
	list-style: none;
	list-style-image: none;
	margin: 10px 0 0 10px;
	padding: 0;
	float: left;
}
.tr_superadmin{
	background-color: #E7F0FF;
}
#noResult{
	display: none;
	color: #FF003F;
}
#adv_search{
	display: none;
	background-color: #f4f4f4;
	margin-bottom: 20px;
}
#exportframe{
	width: 0px;
	height: 0px;
	visibility: hidden;
}
.fotoUpload{
	display: inline-block;
}
.fotoUpload > progress{
	display: none;
}
.fotoUpload > a{
	position: relative;
	overflow: hidden;
}
.fotoUpload > a > input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 10;
}
.fotoProfilo{
	text-align: center;
	display: none;
}
.fotoProfilo > .fotoProfiloImg{
	display:block;
	box-shadow: 0 3px 10px rgba(0,0,0,.35);
	border: 3px solid #fff;
	transition: .4s linear all;
}
.fotoProfilo > .fotoProfiloImg:hover{
	border: 3px solid #FFD56F;
}
.hide{
	display: none;	
}