#CardBody{
	clear: both;
}
.hide{
	display: none;
}
.block{
	display: block;
}

#CardBody #_cWrapper{
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 12px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 12px rgba(0,0,0,.05);
	position: relative;
	border: 1px solid #dadada;
	padding:10px 0 12px 0;
}
#CardBody #_cMenu{
	display: block;
	margin: 0;
	height: 48px;
	margin-bottom: 20px;
	padding: 0;
	border-bottom: 1px solid #dadada;
	background: url(img/bar.png) center bottom repeat-x #ffffff;
}
#CardBody #_cMenu > ul{
	margin: 0;
	padding: 0;
	display: block;
}
#CardBody #_cMenu > ul > li{
	display: inline-block;
	list-style: none;
	padding: 0 25px;
	margin:0;
	background: url(img/div.png) right center no-repeat;
}
#CardBody #_cMenu > ul > li:last-child{
	background: none;
}
#CardBody #_cMenu > ul > li > a{
	display: block;
	text-transform: uppercase;
	padding: 8px 0;
	color: #616161;
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:lighter;
	transition: .25s linear all;
}
#CardBody #_cMenu > ul > li:hover > a{
	text-decoration: none;
	color: #0098ca;
}

#CardBody #_cMenu > ul > li._cfired > a{
	text-decoration:none;
	border-bottom: 3px solid #0098ca;
}
#CardBody #_cMenu #_cLogout{
	position: absolute;
	right: 10px;
	top: 6px;
	display: block;
	width: 36px;
	height: 36px;
	background: url(img/logout.png) center top no-repeat;
}
#CardBody #_cMenu #_cLogout:hover{
	background-position: center bottom;
}
#CardBody #_cSubbar{
	display: block;
	background-color: #8c8c8c;
	padding: 3px 25px;
	color: #FFF;
	font-size: 11px;
}
#CardBody #_cSubbar ._cBalance{
	float: right;
	text-align: right;
}
#CardBody #_cCont{
	width: 94%;
	margin: 0 auto;	
}
#CardBody #_cCont h1{
	font-size: 2em;
	display: block;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
._tableData{
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 8px;
	color: #333;
	font-size: 15px;
}
._tableData > div{
	width: 100%;
	display: table;
}
._tableData > div > div,._tableData > div > div > div{
	box-sizing:content-box;
	-moz-box-sizing: content-box;
}
._tD_row{
	display: table-row;
}
._tD_tc{
	vertical-align: middle;
	padding: 0 8px;
	border-bottom: 1px solid #ccc;
	height: 60px;
	display: table-cell;
}
/*._tD_row:last-child ._tD_tc{
	border-bottom: none;
}*/
._tD_tc ._inputData{
	display: none;
}
._tD_row:first-child ._tD_tcLeft{
	border-top-left-radius: 6px;
}
/*._tD_row:last-child ._tD_tcLeft{
	border-bottom-left-radius: 6px;
}*/
._tD_tcLeft{
	font-weight: bold;
	vertical-align: middle;
	width: 30%;
	border-right: 1px solid #ccc;
	background-color: #ddd;
}
#DP_AnnullaBtn, #DP_SalvaBtn{
	display:none;
}
.Red{
	color: #ff0000;
}
.NoData{
	color: #ff0000;
	font-size: 15px;
	font-weight:bold;
}
._tableMovements{
	width: 100%;
	border-collapse:collapse;
	font-size: 13px;
}
._tableMovements > tbody tr:nth-child(odd){ 
	background-color: #f4f4f4;
}
._tableMovements th, ._tableMovements td{
	padding: 6px;
}
._tableMovements th, ._tableMovements td{
	border: 1px solid #eee;
}

@media (max-width: 970px) {
	#CardBody #_cMenu > ul > li{
		padding: 0 8px;
	}
	#CardBody #_cMenu > ul > li > a{
		font-size: 12px;
	}
}