$fontStd: 'Pathway Gothic One', sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSizeStd: 16px;
$fontSize-bartop: 16px;
$red: #e41a12;
$bartop-height: 38px;
$bartop-height-mobile: 20px;
$transition1: .25s ease-in all;
$color1: #5a4d6b;
$viola: #381d51;
$viola80: #6550a2;
$viola20: #cdc6e3;
$viola_light: #efedf5; /* rgba(101,82,160,.10); */
$white: #fff;
$oro: #aa955f;
$menu-height: 100px;
$footer_bg: #1b0a2e;
$footer-color: #d2b3ff;
$footer-color-hover: #f2e9ff;
$bg-gray: #eee;
$gray: #a4a4a4;
$gray2: #8e8e8e;
$oro: #ae9862;
$yellow: #e9b943;
$yellow_light: #efe1bf;
$bartop-submenu-shadow: 0 10px 10px rgba(0,0,0,.75);

$lg: 1200px;
$md: 980px;
$sm: 768px;

html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	background: url(../img/bg/1.jpg) center top no-repeat;
	background-color: #FFF;
	background-attachment:fixed;
	background-size: cover;
	font-family: $fontStd;
	font-size: $fontSizeStd;
}

html body.vex-open { /* Per bug con IE che nasconde la scrollbar */
    overflow: auto;
}

.Viola{
	color: $viola;
}

.vex-dialog-button-primary{
	background-color: #ee3127 !important;
}

a{
	text-decoration: none;
	color: #ed251b;
	transition: .35s linear all;	
}
a:hover{
	text-decoration: none;
	color: #af1c15;
}

#MenuMobile {
  margin-left: 0px;
  background: url(../img/bg_menu.png) repeat-x;
  position: relative;
}

#MenuMobile .btn-navbar{
	display: inline-block;
	margin: 10px;
	width: 25px;
	height: 25px;
}
#MenuMobile .btn-navbar > span{
	display: block;
	width: 100%;
	margin: 3px 0;
	height: 2px;
	background-color: #CCC;
}
#MenuMobileList{
	width: 100%;
	position: absolute;
	z-index: 1000;
	background-color: #ccc;
	display: none;
	margin: 0;
	padding: 0;
	
	> li{
		list-style: none;
		list-style-position: inside;
		padding: 0;
		margin: 0;
		display: block;
		
		&.fired.fired > a{
			color: #FFF;
			background-color: #454545;
		}
		> a{
			display: block;
			font-size: 20px;
			color: #454545;
			padding: 10px 10px;
			border-bottom: 1px solid #999;
			width: 100%;
			text-transform: uppercase;
			
			&:hover{
				background-color: #FFF;	
			}
		}
		&:last-child > a{
			border-bottom: none;
		}
	}
}

#LogoMobile{
	margin: 5px 0 5px 15px;
}

.Scheda h1{
	margin-top: 0;
}
h1.nmb{
	padding-bottom: 0;
	margin-bottom: 0;
}
h3{
	margin: 0;
}

.bgWhite{
	background: #fff;
}
.relative{
	position: relative;
}
.TitleFont{
	font-family: $fontStd;
}
.Title2{
	font-size: 24px;
}
*{
	outline: 0 none !important;
}
.uppercase{
	text-transform:uppercase;
}
.lowercase{
	text-transform: lowercase;
}
.left{
	text-align:left;
}
.right{
	text-align: right;
}
.center{
	text-align:center;
}
.justify{
	text-align: justify;
}
.b{
	font-weight:bold;
}
.font09{
	font-size: .9em;
}
.font08{
	font-size: .8em;
}
.font07{
	font-size: .7em;
}
.font11{
  font-size: 1.1em;
}
.font12{
  font-size: 1.2em;
}
.font13{
  font-size: 1.3em;
}
.font14{
  font-size: 1.4em;
}
.font15{
  font-size: 1.5em;
}
#Site{
	top: 0;
	left: 0;
	position: absolute;
	min-height: 100%;
	width: 100%;
	
	.bgPage{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		background-repeat: no-repeat;
		background-size:cover;
		background-attachment:fixed;
		
		> a{
			display: block;	
			height: 100%;
		}
	}
}
#Wrapper{
	top: 0;
	padding-top: $bartop-height;
	background-color: $bg-gray;
	position: relative;
	z-index: 2;
	/*background: red;*/
	
	@media (max-width: $sm - 1){
		padding-top: $bartop-height-mobile;
	}
}
#socialBigBar{
	height: 200px;
	background: url(../img/tmp/social.png) center center no-repeat #eee;
}
a.Button, .Button, .ButtonViola{
	text-align: center;
	border-radius: 6px;
	border: 1px solid #6e0a05;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	padding: 6px 22px;
	transition:none;
}
.Button.Gray{
	background: #ccc !important;
	border: 1px solid #aaa;	
}
.Button{
	background: #ee2e24; /* Old browsers */
	background: -moz-linear-gradient(top,  #ee2e24 0%, #8d0700 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee2e24), color-stop(100%,#8d0700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ee2e24 0%,#8d0700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ee2e24 0%,#8d0700 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ee2e24 0%,#8d0700 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ee2e24 0%,#8d0700 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee2e24', endColorstr='#8d0700',GradientType=0 ); /* IE6-9 */
}
.Button.Big, .ButtonViola.Big{
	font-size: 22px;
	padding: 2px 22px !important;
}
.Button.Large, .ButtonViola.Large{
	padding: 6px 40px;
}
.Button:hover, .button2:hover, .button3:hover{
	background: #8d0700;
	text-decoration: none;
	color: #fff;
}
.ButtonViola{
	background-color: #4b3478
}
.ButtonViola:hover{
	background-color:  #6b4aad;
	color: #FFF;
	text-decoration:none;
}
.button2,.button3{
	margin: 1px;
	border: 1px solid #6e0a05;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #ee2e24; /* Old browsers */
	background: -moz-linear-gradient(top,  #ee2e24 0%, #8d0700 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee2e24), color-stop(100%,#8d0700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ee2e24 0%,#8d0700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ee2e24 0%,#8d0700 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ee2e24 0%,#8d0700 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ee2e24 0%,#8d0700 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee2e24', endColorstr='#8d0700',GradientType=0 ); /* IE6-9 */
	transition: none;
}
.button3{
	text-transform: uppercase;
	padding: 10px;
}
.button4{
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	padding: 4px 0;
	text-align: center;
	display: block;
	background: url(../img/buttons/red_gradient.png) center bottom repeat-x #ee2e24;
	transition: none;
}
.button4:hover{
	color: #FFF;
	text-decoration: none;
	background-image: none;
	background-color: #8d0700;
}
.button4.Gray{
	background: url(../img/buttons/gray_gradient.png) center bottom repeat-x #656565;
}
.button4.Gold{
	background: url(../img/buttons/gold_gradient.png) center bottom repeat-x #aa955f;
}
.button4.Gold:hover{
	color:#FFF;
	text-decoration:none;
	background-image: none;
	background-color: #81682b;
}
.slideshow{
	width: 100%;
}

#NegoziMap{
	height: 400px;
	position: relative;
}
#NegoziMap .shadow{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 200;
	height: 46px;
	background:  url(../img/box_shadow4.png) center top no-repeat;
}
#NegoziMap .shadow_ext{
	position: absolute;
	bottom: -46px;
	z-index: 2000;
	height: 46px;
	width: 100%;
	background:  url(../img/box_shadow4.png) center top no-repeat;
}
#NegoziMap #map{
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 1;
	height: 100%;
}
.NegozioItem{
  a{
    color: #FFF;
  }
	display: block;
	min-height: 155px;
	max-height: 155px;
	border-bottom: 1px solid #cecece;
	margin-bottom: 15px;
	transition: $transition1;
}
.NegozioItem:hover{
	background-color: #f4f4f4;
}
.NegozioItem .nome{
	text-transform: uppercase;
	font-size: 24px;
	color: $viola;
}
.NegozioItem .indirizzo{
	display: block;
	color: $gray;
	font-family: $helvetica;
}
.NegozioScheda .foto .shadow{
	height: 20px;
}
.NegozioScheda .Descr{
	font-family: $helvetica;
}
.NegozioScheda .foto .shadow > img{
	margin: 0 auto;
}
.NegozioScheda_BoxAddress a{
	color: #424242;
	text-decoration: none;
}
.NegozioScheda_BoxAddress a:hover{
	text-decoration: underline;
}
.NegozioScheda_BoxPonderazione{
	background-color: #f5f5f5;
	padding: 50px 0;
	text-align: center;
	font-size: 20px;
}
.NegozioScheda_BoxPonderazione h3{
	margin: 0;
	padding: 0;
	font-size: 30px;
}
#premiInteressarti .bx-wrapper, .slideshow .bx-wrapper, #boxCardExample .bx-wrapper, #FotoNegozi .bx-wrapper{
	margin-bottom: 0;
}
#premiInteressarti .bx-viewport, .slideshow .bx-viewport, #boxCardExample .bx-viewport, #FotoNegozi .bx-viewport {
	background: none;
	border: none;
	margin-left: 5px;
	box-shadow: none;
}
#premiInteressarti .bx-viewport, #FotoNegozi .bx-viewport {
	margin-left: 18px;
}
#premiInteressarti .bx-prev, #premiInteressarti .bx-next, #FotoNegozi .bx-prev, #FotoNegozi .bx-next {
	width: 64px;
	height: 64px;
	top: 120px !important;
	background:  url(../img/arrows_red.png) no-repeat;
}
#premiInteressarti .bx-prev, #FotoNegozi .bx-prev{
	left: -20px;
	background-position: left top;
}
#premiInteressarti .bx-next, #FotoNegozi .bx-next {
	right: -20px;
	background-position: right top;
}
.slideshow .bx-pager{
	bottom: 0px;
}
.TitleRed, .Red, .Weighting{
	color: $red;
}
.Gray{
	color: $gray2;
}
.Oro{
	color: $oro;
}
.TitleRed, .Title{
	font-family: $fontStd;
	text-transform: uppercase;
}
.Box2, .Box3{
	background: url(../img/box_shadow2.png) center top no-repeat $bg-gray;
	padding: 16px 0;
}
.Box3bg{
	background: url(../img/box_shadow3.png) center bottom no-repeat;
	padding-bottom: 32px;
}

#barTop{
	z-index: 3;
	position: absolute;
	width: 100%;
	height: $bartop-height;
	background: url(../img/bg_bar_top.png) repeat-x;
	
	@media (max-width: $sm - 1){
		height: $bartop-height-mobile;
	}
}
#menuSites > ul{
	margin: 0;
	padding:0;
	
	> li{
		&:first-child{
			background-image: none;
			padding-left: 0;
		}
		background: url(../img/bartop-btn-shadow.png) left center no-repeat;
		padding: 0 10px;
		text-transform: uppercase;
		display: inline-block;
		height: $bartop-height;
		line-height: $bartop-height;
		font-size: $fontSize-bartop;
		
		@media (max-width: $sm - 1){
			height: $bartop-height-mobile;
			line-height: $bartop-height-mobile;
		}
		
		> a{
			color: #737373;
			display: block;
			transition: $transition1;
			&:hover{
				text-decoration:none;
				color: $color1;
			}
		}
		
		
		i{
			overflow: hidden;
			display: inline-block;
			height: 22px;
			width: 22px;
			margin-right: 5px;
			background: url(../img/bartop-icons.png) no-repeat;
			vertical-align: text-top;
		}
	}
}
#menuSites > ul > li.violachannel > a > i{
	background-position: 0 0;
	transition: $transition1;
}
#menuSites > ul > li.violachannel > a:hover > i{
	background-position: 0 -22px;
}
#menuSites > ul > li.store > a > i{
	background-position: -22px 0;
	transition: $transition1;
}
#menuSites > ul > li.store > a:hover > i{
	background-position: -22px -22px;
}
#menuSites > ul > li.inviola{
	background-color: $color1;
	color: $white;
	padding: 0 20px 0 10px;
}
#menuSites > ul > li.inviola i{
	background-position: -44px 0px;
}
#menuAreaRiservata{
	position: absolute;
	right: 0px;
	@media (max-width: $sm - 1){
		top: -4px;
	}
	> ul{
		margin: 0;
		padding: 0;
		
		> li{
			position: relative;
			display: inline-block;
			margin-left: 0px;
			height: $bartop-height;
			line-height: $bartop-height;
			text-transform: uppercase;
			font-size: 22px;
			font-weight: 200;
			
			> a{
				display: block;
				background:url(../img/bg_oro.png) center bottom #bead5e repeat-x;
				padding: 0 12px;
				color: #685627;
				text-shadow: 0 1px #d3cbb3;
				transition: $transition1;
				
				&:hover{
					text-decoration: none;
					box-shadow: 0 0 15px rgba(0,0,0,.25) inset;
				}
			}
			
			@media (max-width: $sm - 1){
				height: $bartop-height-mobile;
				line-height: $bartop-height-mobile;
				font-size: 10px;
				font-weight:normal;	
			}
		}	
	}
}
#menuLoginOverlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	background: none;
	display: none;
}
#menuAreaRiservata .submenu{
	position: absolute;
	z-index: 10001;
	display: none;
	
	@media (max-width: $sm - 1){
		&, label{
			font-size: 12px;	
		}
	}
}
#menuAreaRiservata > ul > li:hover > .submenu, #menuAreaRiservata > ul > li > .submenu.active{
	display: block !important;
}
#menuAreaRiservata > ul > li.login .submenu{
	box-shadow: $bartop-submenu-shadow;
	right: 0;
	background:url(../img/bg_oro_noise.jpg);
}
#menuAreaRiservata > ul > li > a > i{
	display: inline-block;
	vertical-align: top;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
#menuAreaRiservata > ul > li.registrati > a > i{
	background: url(../img/icons/lock.png) center center no-repeat;
}
#menuAreaRiservata > ul > li.login > a > i{
	background: url(../img/icons/user.png) center center no-repeat;
}
#menuAreaRiservata > ul > li.logout > a > i{
	background: url(../img/icons/logout.png) center center no-repeat;
}

#Menu{
	margin-left: 0px;
	width: 100%;
	height: $menu-height;
	background: url(../img/bg_menu.png) repeat-x;
	position: relative;
}
#Menu .hasSubmenu{
	position: relative;
}
#Menu .hasSubmenu:hover .submenu{
	display: block;
}
#Menu .submenu{
	position: absolute;
	min-width: 100%;
	z-index:1000;
	display: none;
	background: url(../img/bg_gray_noise.jpg) repeat;
	box-shadow: $bartop-submenu-shadow;
}
#Menu .submenu > ul{
	margin: 0;
	padding: 0;
	display: block;
}
#Menu .submenu > ul > li{
	display: block;
	margin: 0;
	padding: 0;
	list-style:none;
}
#Menu .submenu > ul > li > a{
	display: block;
	padding: 8px;
	font-size: 20px;
	color: #343434;
	text-shadow: 0 1px #fff;
	text-transform: uppercase;
	transition: $transition1;
}
#Menu .submenu > ul > li > a:hover{
	text-decoration:none;
	color: #000;
	text-shadow: none;
}


#Logo{
	position: absolute;
	top: 25px;
}
#Menu > ul{
	margin: 0;
	padding: 0;
	display: block;
}
#Menu > ul > li{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid #6b5583;
}
#Menu > ul > li > a{
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	display: block;
	text-align: center;
	line-height: $menu-height;
	height: $menu-height;
	transition: $transition1;
}
#Menu > ul > li > a:hover{
	text-decoration: none;
	text-shadow: 0 0 35px rgba(255,255,255,.5);
	background-color: $red;
}
h1,h2{
	text-transform: uppercase;
	margin: 1em 0;
	color: #333333;
	font-size: 34px;
	font-family: $fontStd;
}
h2{
	margin: 0;
	padding: 0;
}
#Footer{
	position: relative;
	z-index: 2;
	background-color: $footer_bg;
	padding: 0 0 16px 0;
	.Info{
		color: $white;
		font-family: $helvetica;
		font-size: 10px;
		font-weight: 400;
		
		@media (max-width: $sm - 1){
			padding: 0 8px;
			font-weight: normal;
			font-size: 8px;	
		}
	}
}
.colFooter{
	font-size: 24px;
	padding-left: 40px;
	text-transform: uppercase;
	color: $footer-color;
	border-right: 1px solid #4a4559;
	
	@media (max-width: $sm - 1){
		padding-left: 20px;
		font-size: 12px;	
	}
	
	a{
		display: block;
		color: $footer-color;
		transition: $transition1;
		
		&:hover{
			color: $footer-color-hover;
			text-decoration: none;
		}
	}
	
	> h4{
		color: $white;
		font-size: 30px;
		@media (max-width: $sm - 1){
			font-size: 12px;
		}
	}
	
	ul{
		margin: 0;
		padding: 0;
		
		> li{
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
}
.colFooter_last{
	border-right: none;
}

#loginForm{
	color: #FFF;
	padding: 10px 20px;
}
#loginForm .inputText{
	color: #333;
	width: 240px;
	height: auto;
	padding: 0;
	padding: 0 4px;
}
#loginForm label{
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 100;
}
#loginForm a{
	color: #fff;
	transition: $transition1;
}
#loginForm a:hover{
	text-decoration: underline;
}
#loginForm .bottom{
	font-size: 14px;
}
#loginForm .bottom > a{
	vertical-align: middle;
}

.fbCoverItem{
	text-align: center;
}
.fbCoverItem .preview{}
.fbCoverItem .shadow > img{
	margin: 0 auto;
}

.redBtn{
	display: inline-block;
	color: #FFF;
	text-transform:uppercase;
	vertical-align: middle;
	border: 1px solid #6e0a05;
	transition: $transition1;
	
	background: rgba(246,13,13,1);
	background: -moz-linear-gradient(top, rgba(246,13,13,1) 0%, rgba(152,5,5,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,13,13,1)), color-stop(100%, rgba(152,5,5,1)));
	background: -webkit-linear-gradient(top, rgba(246,13,13,1) 0%, rgba(152,5,5,1) 100%);
	background: -o-linear-gradient(top, rgba(246,13,13,1) 0%, rgba(152,5,5,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,13,13,1) 0%, rgba(152,5,5,1) 100%);
	background: linear-gradient(to bottom, rgba(246,13,13,1) 0%, rgba(152,5,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f60d0d', endColorstr='#980505', GradientType=0 );
}
.redBtn:hover{
	text-decoration: none !important;
	
	background: rgba(208,9,9,1);
	background: -moz-linear-gradient(top, rgba(208,9,9,1) 0%, rgba(153,5,5,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(208,9,9,1)), color-stop(100%, rgba(153,5,5,1)));
	background: -webkit-linear-gradient(top, rgba(208,9,9,1) 0%, rgba(153,5,5,1) 100%);
	background: -o-linear-gradient(top, rgba(208,9,9,1) 0%, rgba(153,5,5,1) 100%);
	background: -ms-linear-gradient(top, rgba(208,9,9,1) 0%, rgba(153,5,5,1) 100%);
	background: linear-gradient(to bottom, rgba(208,9,9,1) 0%, rgba(153,5,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00909', endColorstr='#990505', GradientType=0 );
}

.miniBtn{
	@extend .redBtn;
	font-size: 16px;
	height: 23px;
	line-height: 23px;
	border-radius: 4px;
	padding: 0 12px;
}
#loginLoader{
	vertical-align: middle;
}

.itemPremio{
	margin: 15px;
}
.itemPremio .Foto{
	position: relative;
}
.itemPremio .Foto .bollinoPunti{
	top: 30px;
	left: 10px;
	text-align: center;
	color: #FFF;
	position: absolute;
	background:url(../img/bollino.png) no-repeat;
	width: 78px;
	height: 80px;
	line-height:1;
	font-family:$helvetica;
	padding: 20px 5px 0 0;
	overflow: hidden;
	font-size: 14px;
	text-transform: uppercase;
}
.itemPremio .Foto .bollinoPunti > b{
	font-size: 16px;
}

.premioBig{
	position: relative;
	height: 280px;
}
.premioBig .infoPunti{
	position: absolute;
	width: 100%;
	bottom: 0;
}
.premioBig .infoPunti .wishlist_bar{
	text-align: right;
	font-family: $helvetica;
	font-size: 12px;
	color: #000;
}
.premioBig .infoPunti .wishlist_bar > a{
	color: #000;
}
.premioBig .infoPunti .wishlist_bar > a:hover{
	text-decoration:underline;
}
.premioBig .descr{
	font-size: 18px;
	color: #8b8b8b;
}
.premioBig .Punti{
	display:inline-block;
	color: #FFF;
	background:  $oro;
	padding: 6px 26px;
	/*border-radius: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,.5) inset;*/
}
.premioBig .Punti, .Button.ButtonPunti{
	display:inline-block;
	font-size: 22px;
}
.Button.ButtonPunti{
	padding: 6px 13px;
}
.premioBig .infoPunti .PuntiMancanti{
	text-transform: uppercase;
	font-size: 15px;
	color: #5e5e5e;
}
.premioBig .BarPunti{
	height: 25px;
	width: 100%;
	background:#FFF;
	box-shadow: 0 1px 1px rgba(0,0,0,.55) inset;
}
.premioBig .BarPunti > div{
	height: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,.55) inset;
	background-color: $viola;
}

.Button.ButtonPunti:hover{
	color: #FFF;
	text-decoration: none;
}
.block{
	display: block;
}
.hr{
	display:block;
	clear: both;
	margin: 10px 0;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #f7f7f7;	
}
.itemPremio .Cont{
	background: #fff;
}
.itemPremio .Shadow{
	background: url(../img/box_shadow1.png) center top no-repeat;
	width: 100%;
	height: 15px;
}
.itemPremio .Titolo{
	display: table;
	width: 100%;
	font-weight: bold;
	font-family: $helvetica;
	font-size: 15px;
	line-height: 1;
	height: 5em;
	overflow: hidden;
	text-transform: uppercase;
	color: $viola;
	padding: 8px 0 4px 0;
}
.itemPremio .Titolo > div{
	padding: 0 8px;
	display: table-cell;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
}
.itemPremio .Foto{
	background-color: #fff;
}
.premioImgBig > img{
	border: 1px solid #bdbdbd;
}
.premioImgBig .Shadow{
	background:  url(../img/shadow_premio_img.png) center top no-repeat;
	height: 15px;
}

.bread1{
	display: block;
	padding: 20px 0 0 0;
}

.bannerFooter{
	margin: 0 15px;
	padding: 15px 0;
	text-align: center;
	border-bottom: 1px solid #2d0e48;
}
.bannerFooterItem{
	text-align: center;
	margin: 0 16px;
	display: inline-block;
	
	@media (max-width: $sm - 1){
		> a{
			display: inline-block;
			width: 60px;
			vertical-align:middle;
			> img{
				width: 100%;
			}
		}
	}
}

.pageStd{
	font-family: $helvetica;
}

/**** NEWS ******/
.itemNews .itemNewsCont{
	display: block;
	border: 1px solid #d8d8d8;
	transition: .35 ease all;
}
.itemNews .itemNewsCont:hover{
	background-color: #eb321f;
}
.itemNews .itemNewsCont .descr{
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 11em;
	overflow: hidden;
	font-size: 16px;
	padding: 8px;
}
.itemNews .shadow{
	height: 13px;
}
.itemNewsCont > a{
	/*background: red;*/
	color: #333;
	text-decoration: none;
}
.itemNewsCont:hover > a{
	color: #FFF;
}
.itemNewsCont > a > i{
	display: block;
	margin: 8px;
	height: 24px;
	background: url(../img/virgolette.png) left top no-repeat;
}
.itemNewsCont:hover > a > i{
	background: url(../img/virgolette_hover.png) left top no-repeat;
}
.itemNewsCont .bottom{
	background:url(../img/news-icon.png) right bottom no-repeat;
	padding-left: 8px;
	font-size: 14px;
	height: 44px;
	line-height: 44px;
}
#NewsContNext{
	text-align: center;
	padding: 10px 0;
}
/**** FINE NEWS ******/

/**** AREA RISERVATA ******/
.infoLaMiaCard{
	font-family: $helvetica;
	font-size: 16px;
	color: #7d7d7d;
}
.infoLaMiaCard h4{
	font-size: 20px;
	font-weight: bold;	
}
.infoLaMiaCard img{
	float: left;
	vertical-align: top;
	margin-right: 10px;
}
.tableCard{
	font-family: $helvetica;
}
.tableCard th{
	background-color: #f7f7f7;
}
.profiloTable_left{
	width: 35%;
	background-color:#f7f7f7;
}
.modSi{
	display: none;
}
#saveLoader{
	margin-right: 10px;
}
.TitleGray{
	color: $gray;
	font-size: 28px;
	text-transform:uppercase;
}
.fotoPremio{
	margin-bottom: 10px;
}
.fotoPremio .foto{
	border: 8px solid #eee;
	background-color: #fff;
	text-align: center;
}
.fotoPremio .shadow{
	text-align: center;
	height: 14px;
}
.premioBarInfo{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 64px;
}
.premioBarInfo .punti{
	display: inline-block;
	float: right;
	background-color: $oro;
	color: #FFF;
	font-size: 26px;
	padding: 4px 16px;
}
.btnRichiestaPremio{
	position: absolute;
	bottom: 0;
	right: 0;
}
.barPunti{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
	background-color: #afafb1;
	color: #FFF;
}
.barPunti > span{
	color: #FFF;
	display: block;
	text-align: center;
	font-family: $helvetica;
	font-size: 16px;
	top: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
	z-index: 10;
	text-transform: uppercase;
	position: absolute;
}
.barPuntiCont{
	background-color: #351d53;
	height: 44px;
}
/**** FINE AREA RISERVATA ******/

/**** REGISTRATI ******/
.boxRegistrati{
	margin: 0 0 20px 0;
	box-shadow: 0 0 55px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 55px rgba(0,0,0,.25);
	background: #FFF;
}
.boxRegistrati .tab{
	background-color: $viola80;
	color: #FFF;
	display: block;
	font-size: 30px;
	text-transform: uppercase;
	box-shadow: 0 3px 10px rgba(0,0,0,.65) inset;
  	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.65) inset;
	
	@media (max-width: $sm - 1){
		font-size: 14px;	
	}
}
.boxRegistrati .tab .arrow{
	margin-left: 12px;
	vertical-align: middle;
}
.boxRegistrati .tab.fired{
	background-color: #FFF;
	color: $viola;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.boxRegistrati .tab, .boxRegistratiCont{
	padding: 8px 26px;
}
#boxCardExample{
	padding: 0 8px;
	border: 2px solid #d7d7d7;
}
.boxRegistrati #loaderLogin, .boxRegistrati #loaderPw{
	vertical-align: middle;
	margin-left: 10px;
}
#inserisciPassword{
	display: none;
}
#inserisciPassword .dimenticato_pw{
	font-size: 16px;
	color: #606060;
}
#inserisciPassword .dimenticato_pw > a{
	color: #606060;
	text-decoration: underline;
}
#inserisciPassword .dimenticato_pw > a:hover{
	text-decoration: none;
}
.boxRegistrati h3{
	margin: 0;
	padding: 0;
	font-size: 20px;
	
	@media (max-width: $sm - 1){
		font-size: 14px;	
	}
}
#CongratulazioniCard{}
#avatarInput{
  position: absolute;
  top: 32px;
  left: 250px;
  opacity: 0;
  /*cursor: pointer;*/
}
#avatarCont{
	position: relative;
	display: inline-block;
}
#avatarCont > a{
	visibility: hidden;
}
#avatarCont:hover > a{
	visibility: visible;
}
/**** FINE REGISTRATI ******/

/******* HOME **********/
.boxHome{
	position: relative;
	padding: 0 16px;
	h3{
		color: #3a3a3a;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: normal;
		text-shadow: 0 1px 0 #FFF;
		
		@media (max-width: $sm - 1){
			font-size: 14px;
		}
	}
	.box{
		background-color: #FFF;
		height: 240px;
		overflow: hidden;
		
		@media (max-width: $sm - 1){
			height: 170px;
		}
	}
	
	@media (max-width: $sm - 1){
		padding: 0 4px;
		margin-bottom: 8px;
	}
}
#boxNews ul, #boxVideo ul {
	margin: 3px;
	padding: 0;
	position: relative;
}
#boxNews ul > li,#boxVideo ul > li{
	list-style: none;
	margin: 0;
	padding:6px;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}
#boxNews ul > li > a,#boxVideo ul > li > a{
	display: block;
	color: #353535;
	min-height:53px;
	max-height:53px;
	text-decoration: none;
	font-family: $helvetica;
	font-size: 12px;
	padding-right: 10px;
	background: url(../img/arrow_blue.png) right center no-repeat;
	transition: $transition1;
	
	@media (max-width: $sm - 1){
		font-size: 9px;
	}
}
#boxNews ul > li > a:hover, #boxVideo ul > li > a:hover{
	color: $oro;
}
#boxNews ul > li.allNews, #boxVideo ul > li.allNews{
	background-color: #e6e6e6;
}
#boxNews ul > li.allNews > a, #boxVideo ul > li.allNews > a{
	background-color: #e6e6e6;
	min-height: 24px;
	max-height: 24px;
	line-height: 24px;
	display:block;
	color: #462a9b;
	background: url(../img/arrow_gray.png) right center no-repeat;
	transition: $transition1;
	
	@media (max-width: $sm - 1){
		font-size: 8px;
		min-height: inherit;
		max-height: none;
		line-height: normal;
	}
}
#boxNews ul > li.allNews > a:hover, #boxVideo ul > li.allNews > a:hover{
	color: $red;
}
.widgetTextBox .box{
	padding-top: 40px;
}
#boxPoll .box {
	padding-top: 20px;
}
.widgetTextBox .box, #boxPoll .box{
	text-align: center;
	color: #462a9b;
	text-transform: uppercase;
	line-height: 1;
	font-size: 30px;
	
	@media (max-width: $sm - 1){
		font-size: 14px;
	}
}

.boxHome .Button{
	position: absolute;
	width: 74%;
	left: 13%;
	bottom: 30px;
	z-index: 10;
	padding: 6px 10px !important;
	margin: 0 auto;
	font-size: 20px;
	
	@media (max-width: $sm - 1){
		font-size: 12px;
		bottom: 8px;
	}
}
#bigSocial{
	margin: 30px 0 20px 0;
}
#bigSocial a{
	margin: 0 auto;
	display: inline-block;
	vertical-align:middle;
}

#bigSocial a > img{
	margin: 0 20px;
	transition: $transition1;
}
#bigSocial a:hover > img{
	opacity: .5;
}
#boxSlideFotoUtenti{
	.bx-wrapper{
		margin-bottom: 0;	
	}
	.bx-viewport{
		background: none;
		border: none;
		margin-left: 5px;
		box-shadow:none;
	}
	
	.slide{
		.slideItem{
			height: 200px;
		}
	}
}
/******* FINE HOME **********/

/******* INVIACI FOTO *********/
#uploadFotoBtn{
	position: absolute;
	/*display:none;*/
	top: 0px;
	left: 0;
	width: 200px;
	height: 40px;
	opacity:0;
	cursor:pointer;
}
.fotoUtentiItem{
	position: relative;
	
	.foto{
		height: 120px;
		overflow: hidden;
	}
	
	> .badge{
		position: absolute;
		display: block;
		border-radius: 30px;
		width: 30px;
		height: 30px;
		line-height: 26px;
		text-align: center;
		background-color: $red;
		color: #FFF;
		font-size: 14px;
		top: -10px;
		right: -10px;
		opacity: .9;
	}
}
#UserGallery .bx-wrapper{
	margin-bottom: 0;
}
#UserGallery .bx-viewport{
	background: none;
	border: none;
	margin-left: 5px;
	box-shadow: none;
}
#UserGallery .bx-viewport{
	margin-left: 18px;
}
#UserGallery .bx-prev, #UserGallery .bx-next{
	width: 67px;
	height: 93px;
}
#UserGallery .bx-prev{
	background:  url(../img/users_gallery/freccia_sx.png) no-repeat;
}
#UserGallery .bx-prev:hover{
	background:  url(../img/users_gallery/freccia_sx_rossa.png) no-repeat;
}
#UserGallery .bx-next{
	background:  url(../img/users_gallery/freccia_dx.png) no-repeat;
}
#UserGallery .bx-next:hover{
	background:  url(../img/users_gallery/freccia_dx_rossa.png) no-repeat;
}

#UserGalleryCont{
	text-align: center;
}
#UserGallery .shadow > img{
	margin: 0 auto;
}
/******* FINE INVIACI FOTO *********/

/********** VIDEO PREMIUM **********/
.VideoPremium .video > div{
	margin: 0 auto;
}
.itemVideoPremium .itemVideoPremiumCont{
	display: block;
	border: 1px solid #d8d8d8;
	transition: .35 ease all;
}
.VideoPremium .VideoPremiumCont:hover{
	background-color: #eb321f;
}
.itemVideoPremium .itemVideoPremiumCont .descr{
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 11em;
	overflow: hidden;
	font-size: 16px;
	padding: 8px;
}
.itemVideoPremium .shadow{
	height: 13px;
}
.itemVideoPremiumCont > a{
	/*background: red;*/
	color: #333;
	text-decoration: none;
}
.itemVideoPremiumCont:hover > a{
}
.itemVideoPremiumCont:hover > a > i{
	background: url(../img/virgolette_hover.png) left top no-repeat;
}
.itemVideoPremiumCont .bottom{
	background:url(../img/video-icon.png) right bottom no-repeat;
	padding-left: 8px;
	font-size: 14px;
	height: 44px;
	line-height: 44px;
}
/********** FINE VIDEO PREMIUM **********/


#passwordChange{
	margin: 10px;
	padding: 6px;
	border-radius: 6px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	display: none;
}
#passwordForm label{
	font-weight:normal;
}

.VideoMediaCenter{
	position: relative;
	min-height: 432px;
	
	.VideoAds-image{
		position: absolute;
		display: none;
		top: 351px;
		left: 89px;
		width: 766px;
		height: 80px;
		background-color: #FFF;
		z-index: 100;
		overflow: hidden;
		
		.VideoAds_close{
			position: absolute;
			z-index: 101;
			top: 0;
			right: 2px;
		}
		
		img{
			width: 100%;
		}
	}
	
	.VideoAds-preroll{
		position: absolute;
		background-color: #000;
		top: 0;
		left: 89px;
		width: 766px;
		height: 432px;
		overflow: hidden;
		
		> a{
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 101;
		}
		
		.AdBar{
			position: absolute;
			background-color: rgba(0,0,0,.70);
			width: 100%;
			z-index:102;
			bottom: 0;
			left: 0;
			font-size: 12px;
			color: #FFF;
			padding: 6px;
			> a{
				float: right;
				color: #FFF;
				text-decoration: underline;
				display: none;	
			}
		}
	}
}

#BarUserAlert{
	position: relative;
	margin-top: $bartop-height;
	margin-bottom: -$bartop-height;
	z-index: 5;
	background-color: $yellow_light;
	color: #333;
	
	@media (max-width: $sm - 1){
		margin-top: $bartop-height-mobile;
		marbin-bottom: -$bartop-height-mobile;
	}
	
	.container{
		position: relative;
	}
	
	.close{
		position: absolute;
		right: 20px;
		top: 8px;
		display: inline-block;
		font-size: 13px;
		color: #333;
		text-decoration: none;
	}
	
	.Alert{
		margin: 0;
		display: block;
		padding: 16px 8px;
		font-size: 1.1em;
		font-weight:normal;
		a{
			text-decoration:underline;	
		}
		
		> li{
			list-style-position:inside;
			list-style-type:none;
		}
	}
}

.abuse{
	font-size: .9em;
	> a{
		text-decoration: underline;
		color: #333;
		&:hover{
			text-decoration: none;
		}
	}
}

#CookiesPolicyAlert{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.80);
  padding: 16px 8px;
  color: $white;
  font-size: 16px;
  z-index: 10;

  a{
    color: #FFF;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }

  a.choice{
    text-decoration: none;
    background-color: #aaaaaa;
    color: #000;
    border-radius: 6px;
    padding: 3px 16px;
    font-size: .9em;
    transition: .25s linear all;

    &:hover{
      background-color: #FFF;
    }
  }

  > .Close{
    float: right;
    vertical-align: middle;
    margin-right: 10px;
    color: #FFF;
    opacity: .65;
    text-decoration: none;
    transition: .35s all linear;

    &:hover{
      opacity: 1;
    }
  }
}

@import 'import/IndovinaFormazione';

@media (min-width: $lg) {
	.premioBig{
		height: 345px;
	}
	.premioBig .infoPunti .PuntiMancanti{
		font-size: 18px;
	}
	.boxHome h3 {
	  font-size: 30px;
  }
  .widgetTextBox .box, #boxPoll .box {
	  font-size: 36px;
  }
}
@media (min-width: $sm) and (max-width: $md - 1) { /* Tablet */
	.premioBig{
		height: auto;
	}
	.premioBig .infoPunti{
		position: relative;
	}
	.boxHome{
	  height: 285px;
  	}
}
@media (max-width: $sm - 1) {
	h1{
		font-size: 16px;
	}
	h2{
		font-size: 14px;	
	}
	h3{
		font-size: 12px;
	}
	.premioBig{
		height: auto;
	}
	.premioBig .infoPunti{
		position: relative;
	}
}

/* INDOVINA RISULTATO */
#IndovinaRisultato{
  $p-top: 80px;

  position: relative;
  background: url(../img/giochi/bg-indovina-risultato.jpg) center center no-repeat;
  height: 490px;

  .LogoSx, .LogoDx{
    padding-top: $p-top;
    text-align: center;
    .img-responsive{
      margin: 0 auto;
      max-height: 230px;
    }

    h3{
      font-size: 32px;
      text-transform: uppercase;
    }
  }

  .LogoSx{
    margin-left: 25px;
  }
  .LogoDx{
    margin-right: 25px;
  }

  .Goal{
    text-align: center;
    padding-top: $p-top;

    i{
      display: block;
      background: url(../img/giochi/box_goal.png) no-repeat;
      background-size: cover;
      width: 158px;
      height: 163px;
      margin: 0 auto;
      color: #FFFFFF;
      font-size: 80px;
      font-style: normal;
      line-height: 128px;
    }
    a{
      &.up, &.down{
        display: block;
        height: 26px;
        background: url(../img/giochi/arrows_selection.png) no-repeat;

        &.disable{
          visibility: hidden;
          cursor: default;
        }
      }
      &.up{
        background-position: center top;
        margin-bottom: 20px;
      }
      &.down{
        background-position: center bottom;
      }
    }
  }
}

.IndovinaRisultato_match{
  background: url(../img/giochi/bg-indovina-risultato.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
  height: 440px;

  .boxOverlay{
    position: absolute;
    background-color:rgba(0,0,0,.65);
    font-size: 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    color:#FFF;
    > span{
      display: block;
      text-align: center;
      margin-top: 210px;
    }
  }
  .boxSquadra{
    width: 70%;
    margin: 78px auto 0;
    text-align: center;

    img{
      max-height: 200px;
    }
    h3 {
      margin-top: 15px;
      text-align: center;
    }
  }
}
/* FINE INDOVINA RISULTATO */

/* INDOVINA PRIMO MARCATORE */
#IM_modify-btn{
  float:right;
  margin-top: 10px;
}
#IM_vs{
  $fontSize: 24px;

  position: absolute;
  right: 0;
  top: 24px;
  display: block;
  right: 0;
  background-color: #f2f2f2;
  padding: 8px 16px;
  text-transform: uppercase;

  b,span{
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px;
  }
  b{
    color: $red;
    font-size: $fontSize;
  }
  span{
    font-size: 18px;
    line-height: $fontSize;
    height: $fontSize;
    color: #bdbdbd;
  }
}

#IndovinaPrimoMarcatore{
  $p-top: 80px;

  position: relative;
  background: url(../img/giochi/bg-indovina-marcatore.jpg) center top no-repeat;
  height: 650px;

  .IM_Player{
    display: block;
    max-width: 220px;
    height: 220px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    transition: .35s linear all;

    &:hover, &.selected{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
    &.selected, &.unselected{
      cursor: default;
    }
    &.unselected{
      transform: scale(.85);
      -webkit-transform: scale(.85);
      opacity: .50;
    }

    &.disable{
      &:hover{
        transform: scale(1);
        -webkit-transform: scale(1);
        cursor: default;
      }
    }

    &.no-player{
      img{
        max-width: 200px;
      }
    }

    img{
      max-height: 210px;
      margin: 0 auto;
      display: block;
    }
  }
}
.IndovinaPrimoMarcatore_match{
  background: url(../img/giochi/bg-indovina-marcatore.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
  height: 440px;

  .boxOverlay{
    position: absolute;
    background-color:rgba(0,0,0,.65);
    font-size: 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    color:#FFF;
    > span{
      display: block;
      text-align: center;
      margin-top: 210px;
    }
  }

  .Marcatore{
    position: absolute;
    width: 60%;
    top: 20px;
    left: 20%;

    img{
      width: 100%;
    }
    &.NoMarcatore{
      top: 80px;
      text-align: center;
      img{
        width: auto;
      }
    }
  }
}
#IndovinaPrimoMarcatore .IM_Player > span , .IndovinaPrimoMarcatore_match .Marcatore > span{
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
  text-align: center;
  display: block;
  color: #FFF;
  background-color: $red;
  border: 4px solid #FFF;
  border-radius: 30px;
  padding: 6px 0;
  font-size: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,.5) inset;
}
/* FINE INDOVINA PRIMO MARCATORE */

@media (min-width: 0px) and (max-width: 1199px){
  .container{
    width: 940px !important;
  }
  .boxHome{
    height: 285px;
  }
}