<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>InViola Card</title>
<style type="text/css"><!--
body, td, th{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px/18px;
	color: #000;
}
a,.Viola{
	color:#412980;
	text-decoration:none;
}
a:hover{
	text-decoration: underline;
}
--></style>
</head>

<body topmargin="0" leftmargin="0" bgcolor="#FFFFFF" alink="#412980" vlink="#412980" link="#412980">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border:1px solid #ededed;">
	<tr><td height="100">&nbsp;</td></tr>
	<tr><td align="center">
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
        	<tr>
            	<td><img src="{{path}}email/img/top.png"></td>
            </tr>
            <tr>
            	<td align="justify"><font size="3" style="font-size: 14px; line-height: 18px;">
                	<br><br>
                	Benvenuto in InViola!<br>
                    Questa &egrave; la tua <b><font color="{{viola_color}}">InViola Card!</font></b>
                    <br><br>
                    
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    	<tr>
                       	<td valign="top" width="300"><img src="{{path}}imgcard.php?card={{card}}" width="300"></td> 
                       	<td width="10">&nbsp;</td>
                          <td valign="top">
                          		<b><font color="{{viola_color}}">TRASFORMALA IN INVIOLA CARD ED INIZIA SUBITO LA TUA RACCOLA DI PUNTI!</font></b><br><br>
                              Potrai accedere al <b><font color="{{viola_color}}">catalogo premi pensato per te da ACF Fiorentina</font></b> e partecipare a <b><font color="{{viola_color}}">iniziative speciali dedicate ai possessori</font></b>:
                              concorsi, instant win e moltissimo altro.
                          </td>
                       </tr> 
                    </table>
                    
                    <br>
                    Ci sono <b><font color="{{viola_color}}">due</font></b> modi per trasformare la tua InViola E-Card in <b><font color="{{viola_color}}">InViola Card</font></b>:
                    <br><br>
                    <b><font color="{{viola_color}}">1. Stampa questa mail</font></b> e recati presso uno dei punti ufficiali ACF Fiorentina*.
                    <br><br>
                    <b><font color="{{viola_color}}">2. Scarica</font></b> sul tuo cellulare <b><font color="{{viola_color}}">l'App InViola Card</font></b> e trasforma il tuo codice in InViola Card Virtuale. Potrai fin da subito iniziare ad accumulare punti semplicemente mostrando il codice a barre presente all'interno dell'App. Se sei minorenne, per poter ritirare i tuoi premi, dovrai recarti presso uno dei punti ufficiali ACF Fiorentina*, compilare l'apposito "Modulo minorenni" e farlo firmare da un tuo genitore o da chi detiene la podestà genitoriale. <b><a href="{{path_docs}}Modulo adesione InViola.pdf"><font color="{{viola_color}}">Clicca qui</font></a></b> per scaricare il "Modulo minorenni".
                    <br><br>
                    
                    <font size="1" style="font-size:12px; line-height:1;">* I Fiorentina Store di via Dupr&eacute;, del centro commerciale I Gigli e del Mercato Centrale di San Lorenzo, e il Fiorentina Point di viale Fanti.</font>

                </font></td>
            </tr>
        </table>
    </td></tr>
	<tr><td height="100">&nbsp;</td></tr>
</table>
</body>
</html>