<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>InViola Card</title>
<style type="text/css"><!--
body, td, th{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px/18px;
	color: #000;
}
a,.Viola{
	color:#412980;
	text-decoration:none;
}
a:hover{
	text-decoration: underline;
}
--></style>
</head>

<body topmargin="0" leftmargin="0" bgcolor="#FFFFFF" alink="#412980" vlink="#412980" link="#412980">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border:1px solid #ededed;">
	<tr><td height="100">&nbsp;</td></tr>
	<tr><td align="center">
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
        	<tr>
            	<td><img src="{{path}}email/img/top.png"></td>
            </tr>
            <tr>
            	<td align="justify"><font size="3" style="font-size: 14px; line-height: 18px;">
                	<br><br>
                	 Gentile {{nome}},<br><br>
                    a seguito della tua richiesta &egrave; stata generata una nuova password che potrai modificare accedendo all'area <font color="{{viola_color}}">InViola Card - Il mio Profilo</font>.
                    <br>
                    La tua nuova password &egrave;: <b>{{code}}</b>
                    <br><br>
                    <a href="http://www.inviola.violachannel.tv" target="_blank">www.inviola.violachannel.tv</a>

                </font></td>
            </tr>
        </table>
    </td></tr>
	<tr><td height="100">&nbsp;</td></tr>
</table>
</body>
</html>