body{
	background-image: none !important;
	background-color: #FFF;
}
#Main{
	width: 810px;
	margin: 0 auto;
}
#Top{
	background: url(img/head.jpg) no-repeat;
	height: 122px;
}
.boxRegistrati .tab{
	font-size: 18px;
	font-weight: bold;
}